{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑供应商信息</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/dist/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <style>
        body{padding:20px 40px;margin:0;background:url(/static/img/bg.png);}
    </style>
</head>
<body>
                <div class="row" style="margin-top: 10px">

                    <div class="col-sm-8">
                        <div class="box box-warning">

                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                    供应商列表
                                </h3>
                            </div>

                            <!-- 供应商清单 -->
                            <form method="post" action="editSupplier">
                                <div class="box-body table-responsive ">
                                    <table class="table table-hover">
                                        <tr>
                                            <th class="text-center">选择</th>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">名称</th>
                                            <th class="text-center">联系人</th>
                                            <th class="text-center">电话</th>
                                            <th class="text-center">备注</th>
                                            <th class="text-center">编辑</th>

                                        </tr>
                                        {% for i in supplier %}
                                            <tr>
                                                <td class="text-center"><input type="checkbox" name="delete_supplier" value="{{ i.pk }}"></td>
                                                <td class="text-center">{{ i.pk }}</td>
                                                <td class="text-center">{{ i.supplier_name }}</td>
                                                <td class="text-center">{{ i.supplier_contacts }}</td>
                                                <td class="text-center">{{ i.supplier_phone }}</td>
                                                <td class="text-center">{{ i.supplier_memo }}</td>
                                                <td class="text-center">
                                                    <a href="http://127.0.0.1:8000/cmdb/editSupplier?supplierId={{ i.id }}">
                                                        <i class="glyphicon glyphicon-edit text-info"
                                                           style="margin-right: 5px"></i>
                                                    </a>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>


                                <div class="box-footer " >
                                    <button type="submit" class="btn btn-danger pull-right">Delete</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->
                    </div>

                    <!-- ---添加用户-- -->
                    <div class="col-sm-4">
                        <div class="box box-primary">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-plus"></i>
                                <h3 class="box-title">添加供应商</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="addSupplierSubmit" method="post" id="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">供应商名称</label>
                                        <input class="form-control" type="text" name="name" placeholder="supplier name">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">联系人</label>
                                        <input class="form-control" type="text" name="contact" placeholder="contact">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">联系电话</label>
                                        <input class="form-control" type="text" name="phone" placeholder="phone">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">备注</label>
                                        <input class="form-control" type="text" name="memo" placeholder="memo">
                                    </div>

                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>

                        <div class="box box-success">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-edit"></i>
                                <h3 class="box-title">编辑供应商</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="editSupplierSubmit?supplierId={{ SUPPLIER.id }}" method="post">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">供应商名称</label>
                                        <input class="form-control" type="text" name="name" value="{{ SUPPLIER.supplier_name}}">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">联系人</label>
                                        <input class="form-control" type="text" name="contact" value="{{ SUPPLIER.supplier_contacts }}">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">联系电话</label>
                                        <input class="form-control" type="text" name="phone" value="{{ SUPPLIER.supplier_phone}}">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">备注</label>
                                        <input class="form-control" type="text" name="memo" value="{{ SUPPLIER.supplier_memo}}">
                                    </div>
                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>

                    </div>


                </div>
</body>