{% extends "base.html" %}


{% block css_block %}
<link rel="stylesheet" href="/static/dist/paginationjs/pagination.css">
<link rel="stylesheet" href="/static/dist/search_dropDown/search_dropDown.css">

{% endblock%}


{% block main_content %}
<div class="box box-info" id="box1" style="min-height: 500px">

    <!-- .content  -->
    <div class="box-body" id="box2">
        <div class="container-fluid">



            <!-- -------------------查询区-----------------------  -->


            <div class="row " style="margin: 20px 0">
                <div class="col-md-12">
                    <!-- 按钮 -->
                    <!-- 显示所有 -->
                    <div class="form-group inline">
                        <a href="/cmdb/asset/">
                            <button class="btn  btn-sm btn-default ">显示所有</button>
                        </a>
                    </div>

                    <!-- 增加资产 -->
                    <div class="form-group inline ">
                        <a href="/cmdb/addARecord">
                            <button class="btn btn-danger btn-sm ">添加资产</button>
                        </a>
                    </div>

                    <div class="form-group inline">
                        <form class="form-inline inline" id="filterForm">
                            <!-- 查询所属单位 -->
                            <div class="form-group ">
                                <select class="form-control select2" name="myOrg" id="selectedOrg"
                                        style="width: 130px;font-size: 12px">
                                    <option value="0" selected="selected">所属单位</option>
                                    {% for Organization in Organizations %}
                                    <option value={{ Organization.id }}>{{ Organization.org_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- 查询设备类型 -->
                            <div class="form-group">
                                <select class="form-control  select2 " name="myType" id="selectedType"
                                        style="width: 130px;font-size: 12px">
                                    <option value="0" selected="selected">资产类型</option>
                                    <option value="1">服务器</option>
                                    <option value="2">网络设备</option>
                                    <option value="3">安全设备</option>
                                    <option value="4">存储设备</option>
                                    <option value="5">其他</option>
                                </select>
                            </div>

                            <!-- 查询所属网络 -->
                            <div class="form-group">
                                <select class="form-control select2" name="myNet" id="selectedNet"
                                        style="width: 130px;font-size: 12px">
                                    <option value="0" selected="selected">所属网络</option>
                                    <option value="1">控制专网</option>
                                    <option value="2">业务内网</option>
                                    <option value="3">业务外网</option>
                                </select>
                            </div>

                            <!-- blank space  -->
                            <!--<div class="col-sm-5"></div>-->
                        </form>
                    </div>


                    <!-- search form  -->
                    <div class="form-inline  pull-right">
                        <form class="form-group" method='get' action="/search/"  id="searchForm">
                            <input class="form-control" type="search" name="q" placeholder="Search..."
                                   style="width: 130px">
                            <span class="input-group-btn inline">
                            <button class="btn" type="submit" value="Search" id="searchBtn">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                        </form>
                    </div>
                    <!-- /.search form -->
                </div>
            </div>
            <!-- -------------------/查询区------------------------  -->


            <!-- -------------------表格-------------------------  -->
            <div class="row ">
                <!-- 资产表格   -->
                <div id="div01">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">资产名称</th>
                            <th class="text-center">资产类型</th>
                            <th class="text-center">资产编号</th>
                            <th class="text-center">设备品牌</th>
                            <th class="text-center">设备型号</th>
                            <th class="text-center">设备序列号</th>
                            <th class="text-center">管理地址</th>
                            <th class="text-center">所处网络</th>
                            <th class="text-center">所属单位</th>
                            <th class="text-center">设备状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for Asset in assets %}
                        <tr>
                            <td class="text-center">{{ offset_index | add:forloop.counter }}</td>
                            <td><a href="#">
                                <li id="asset_detail" style="list-style-type:none"
                                    onclick="return detail(this.value)"
                                    value="{{ Asset.id }}"> {{ Asset.asset_name }}
                                </li>
                            </a>
                            </td>
                            <td class="text-center">{{ Asset.get_asset_type_display }}</td>
                            <td>{{ Asset.asset_no }}</td>
                            <td class="text-center">{{ Asset.model.vendor }}</td>
                            <td>{{ Asset.model }}</td>
                            <td>{{ Asset.sn }}</td>
                            <td>{{ Asset.manage_ip }}</td>
                            <td class="text-center">{{ Asset.get_network_location_display }}</td>
                            <td class="text-center">{{ Asset.organization }}</td>
                            <td class="text-center">{{ Asset.get_status_display }}</td>
                            <td class="text-center">
                                <a href="http://127.0.0.1:8000/cmdb/editARecord?myid={{ Asset.id }}">
                                    <i class="glyphicon glyphicon-edit text-info"
                                       style="margin-right: 5px"></i>
                                </a>
                                <a href="http://127.0.0.1:8000/cmdb/deleteARecord?myid={{ Asset.id }}">
                                    <i class="glyphicon glyphicon-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /row  -->
            <!-- -------------------表格-------------------------  -->


            <!-- -------------------分页------------------------- -->
            <div class="row" id="pageInfo">
                <!-- --------------每页显示数量------------------- -->
                <div class="col-md-2">
                    <form id="pagelenForm">
                        <span class="text text-right">每页显示</span>
                        <label for="page_len">
                            <select name="page_len" id="page_len" class="form-control m-b input-sm">
                                <!--{% ifequal page_len '10' %}-->
                                <!--<option value="10" selected>10</option>-->
                                <!--{% else %}-->
                                <!--<option value="10">10</option>-->
                                <!--{% endifequal %}-->
                                {% ifequal page_len '20' %}
                                <option value="20" selected>20</option>
                                {% else %}
                                <option value="20">20</option>
                                {% endifequal %}
                                {% ifequal page_len '50' %}
                                <option value="50" selected>50</option>
                                {% else %}
                                <option value="50">50</option>
                                {% endifequal %}
                                {% ifequal page_len '100' %}
                                <option value="100" selected>100</option>
                                {% else %}
                                <option value="100">100</option>
                                {% endifequal %}
                            </select>
                        </label>
                    </form>
                </div>


                <!-- ----------------页面分页----------------- -->
                <div class="col-sm-10">
                    <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                        <ul class="pagination" style="margin-top: 0; float: right">

                            <!--向前、start按钮-->
                            {% if assets.has_previous %}
                            <li class="paginate_button previous " aria-controls="editable" tabindex="0"
                                id="editable_previous">
                                <a class="page" href="?page={{ assets.previous_page_number }}&page_len={{ page_len }}">
                                    Previous
                                </a>
                            </li>
                            {% else %}
                            <li class="paginate_button disabled">
                                <a href="#">Start</a>
                            </li>
                            {% endif %}

                            <!--是否显示第一页-->
                            {% ifequal show_first 1 %}
                            <li class="paginate_button" aria-controls="editable" tabindex="0">
                                <a class="page" href="?page=1&page_len={{ page_len }}" title="第1页">1...</a>
                            </li>
                            {% endifequal %}

                            <!--正常显示页面-->
                            {% for page in page_range %}
                            {% ifequal current_page page %}
                            <li class="paginate_button active" aria-controls="editable" tabindex="0">
                                <a class="page" href="?page={{ page }}&page_len={{ page_len }}" title="第{{ page }}页">
                                    {{ page }}
                                </a>
                            </li>
                            {% else %}
                            <li class="paginate_button" aria-controls="editable" tabindex="0">
                                <a class="page" href="?page={{ page }}&page_len={{ page_len }}" title="第{{ page }}页">
                                    {{ page }}
                                </a>
                            </li>
                            {% endifequal %}
                            {% endfor %}

                            <!--是否显示最后一页-->
                            {% ifequal show_end 1 %}
                            <li class="paginate_button" aria-controls="editable" tabindex="0">
                                <a class="page" href="?page={{ p.num_pages }}&page_len={{ page_len }}"
                                   title="第{{ page }}页">
                                    ...{{ p.num_pages }}
                                </a>
                            </li>
                            {% endifequal %}

                            <!--向前、end页-->
                            {% if assets.has_next %}
                            <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
                                <a class="page"
                                   href="?page={{ assets.next_page_number }}&page_len={{ page_len }}">Next</a>
                            </li>
                            {% else %}
                            <li class="paginate_button disabled">
                                <a href="#">End</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- -------------------/分页-------------------------  -->
        </div>
        <!-- /container -->

    </div>
    <!-- /box -->
</div>
{% endblock main_content %}


{% block foot_js %}

<script type="text/javascript" src="/static/dist/layer/layer.js"></script>
<script type="text/javascript" src="/static/dist/paginationjs/pagination.min.js"></script>
<script type="text/javascript" src="/static/dist/search_dropDown/search_dropDown.js"></script>
<!--设备详细页面弹窗-->
<script type="text/javascript">
    function detail(n) {
        layer.open({
            type: 2,
            title: '资产信息',
            closeBtn: 1,
            area: ['960px', '700px'],
            shade: 0.5,
            shadeClose: true, //点击遮罩关闭
            content: ['/cmdb/detail' + n],
        });
    };
</script>


<!-- -----数据查询----- -->
<script>
    $(function () {
        $("#selectedType").change(function () {
            var args1 = $("#filterForm").serialize();
            var args2 = $("#pagelenForm").serialize();
            var args = args1 + "&" + "page=1" + "&" + args2;
            window.location = "{% url 'cmdb:asset' %}?" + args;
        });
        $("#selectedType").find('option[value="{{myType}}"]').prop('selected', 'selected')
    });

    $(function () {
        $("#selectedOrg").change(function () {
                var args1 = $("#filterForm").serialize();
                var args2 = $("#pagelenForm").serialize();
                var args = args1 + "&" + "page=1" + "&" + args2;
                window.location = "{% url 'cmdb:asset' %}?" + args;
            });
            $("#selectedOrg").find('option[value="{{myOrg}}"]').prop('selected', 'selected')
     });

    $(function () {
        $("#selectedNet").change(function () {
            var args1 = $("#filterForm").serialize();
            var args2 = $("#pagelenForm").serialize();
            var args = args1 + "&" + "page=1" + "&" + args2;
            window.location = "{% url 'cmdb:asset' %}?" + args;
        });
        $("#selectedNet").find('option[value="{{myNet}}"]').prop('selected', 'selected')
    });
</script>



<!-- -----search数据查询----- -->
<script>
    /*
    $(function () {
        $("#searchBtn").click(function () {
            var args = $("#searchForm").serialize();
            $.get("/search/", args, function (data) {
                $("#div01").html(data);
                $("#pageInfo").remove();
            });
        });
    });
    */
</script>


<!-- 分页按钮 -->
<script>
    $(document).ready(function () {
        $(".page").click(function () {
            var searchStr = location.search;
            var old_href = $(this).attr('href').replace('?', '');
            var searchArray = searchStr.split('&');
            if (searchStr == '') {
                var arg1 = $("#page_len option:selected").val();
                var newhref = '?page=1&page_len=' + arg1;
                $(this).attr('href', newhref);
            }
            if (searchStr != '') {
                if (searchStr.split("page=").length = 3) {
                    searchArray.pop();
                    searchArray.pop();
                }
                ;
                if (searchArray.length > 1) {
                    var arg2 = searchArray.join('&');
                    var newhref2 = arg2 + '&' + old_href;
                    $(this).attr('href', newhref2);
                }
                ;
            }
            ;
        });
    });
</script>


<!-- -----每页显示多少条目----- -->
<script>

    $(function () {
        $("#page_len").change(function () {
            var args1 = $("#filterForm").serialize();
            var args2 = $("#pagelenForm").serialize();
            var args = args1 + "&" + "page=1" + "&" + args2
            window.location = "{% url 'cmdb:asset' %}?" + args;
        });
    });
</script>
{% endblock foot_js %}