{% extends "base.html" %}

{% block main_content %}
    <div id="div02">
        <!-- .row  -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- 标题行 -->
    {#                <div class="box-header">#}
    {#                    <h3 class="box-title">资产列表</h3>#}
    {#                </div>#}


                    <div class="box-body">
                        <div id="func">
                            <button  class="btn btn-block btn-success" id="addARecord" onclick="window.location.href='http://127.0.0.1:8000/cmdb/addARecord'">添加记录</button>
                            <form id="filterForm" action="http://127.0.0.1:8000/cmdb/filter" method="post">
                                <select  name="myType" id="selectedType">
                                    <option value="0" >资产类型</option>
                                    <option value="1">服务器</option>
                                    <option value="2">网络设备</option>
                                    <option value="3">安全设备</option>
                                    <option value="4">存储设备</option>
                                    <option value="5">其他</option>
                                </select>
                                    <!-- 按钮1 -->

                                <select   name="myOrg" id="selectedOrg">
                                    <option value="0">所属单位</option>
                                    {% for Organization in Organizations %}
                                        <option value={{ Organization.id }}>{{ Organization.org_name }}</option>
                                    {% endfor %}
                                </select>

                            </form>
                            <form method='get' action="/search/" target="_blank" id="searchForm">
                                <input id="s" type="submit"  value="查询" class="text-center margin-r-5">
                                <input id="q" type="text" name="q">
                            </form>
                        </div>
                        <!-- -------------------/按钮-------------------------  ->




                        <!-- -------------------表格-------------------------  ->
                        <!-- 资产表格   -->
                    <div id="div01">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">资产名称</th>
                                <th class="text-center">资产类型</th>
                                <th class="text-center">资产编号</th>
                                <th class="text-center">设备型号</th>
                                <th class="text-center">管理地址</th>
                                <th class="text-center">所属单位</th>
                                <th class="text-center">设备状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>


                            <tbody>
                            {% for Asset in Assets %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>

                                    <td class="text-center"><a href="#">
                                        <li id="asset_detail" style="list-style-type:none;"
                                            onclick="return detail(this.value)"
                                            value="{{ Asset.id }}"> {{ Asset.asset_name }}</li>
                                    </a>
                                    </td>
                                    <td class="text-center">{{ Asset.get_asset_type_display }}</td>
                                    <td class="text-center">{{ Asset.asset_no }}</td>
                                    <td class="text-center">{{ Asset.model.models }}</td>
                                    <td class="text-center">{{ Asset.manage_ip }}</td>
                                    <td class="text-center">{{ Asset.organization }}</td>
                                    <td class="text-center">{{ Asset.get_status_display }}</td>
                                    <td class="text-center">
                                        <a href="http://127.0.0.1:8000/cmdb/editARecord?myid={{ Asset.id }}">
                                            <i class="glyphicon glyphicon-edit text-info" style="margin-right: 5px"></i>
                                        </a>
                                        <a href="http://127.0.0.1:8000/cmdb/deleteARecord?myid={{ Asset.id }}">
                                            <i class="glyphicon glyphicon-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>


                        </table>
                        <!-- -------------------表格-------------------------  -->


                        <!-- -------------------分页-------------------------  -->
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="disabled">
                                  <span>
                                    <span aria-hidden="true">&laquo;</span>
                                  </span>
                                </li>
                                <li class="active">
                                    <span>1 <span class="sr-only pagination-sm">(current)</span></span>
                                </li>

                            </ul>
                        </nav>
                        <!-- -------------------/分页-------------------------  -->


                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /col-xs-12   -->
        </div>
        <!-- /row -->
    </div>
{% endblock main_content %}






{% block foot_js %}
    <script src="/static/plugins/layer/layer.js"></script>
    <script>
        function detail(n) {
            layer.open({
                type: 2,
                title: '主机信息',
                closeBtn: 1,
                area: ['960px', '850px'],
                shadeClose: true, //点击遮罩关闭
                content: ['/cmdb/detail' + n],
            });
        }

       $(function () {
            $("#selectedType").change(function () {
                var args = $("#filterForm").serialize();
                var x1 = "{%url 'cmdb:filter'%}?" + args;
                $("#div01").load(x1 + " #div01")

            });
            $("#selectedOrg").change(function () {
                var args = $("#filterForm").serialize();
                var x2 = "{%url 'cmdb:filter'%}?" + args;
                $("#div01").load(x2 + " #div01")
            });
        });
    </script>
{% endblock foot_js %}








