*{
    margin:0;
    padding:0;
    list-style-type:none;
}
body {
    font-family: 微软雅黑, verdana, geneva, sans-serif;
    font-weight: bolder;
}
#header,#footer,body{
    width: 1366px;
    height: 662px;
}