{% extends "base.html" %}

{% block css_block %}
<link type="text/css" rel="stylesheet" href="{% static 'dist/css/tab_css.css' %}">
<style type="text/css">
    .idcicon{
        color: #9e0505;
    }

    .idcinfo {
        min-height: 180px;
    }

    span.cabinfo {
        font-size: 12px;
    }

</style>

{% endblock css_block %}


{% block main_content %}


<div class="container-fluid no-padding">
    <div class="row" style="margin-top: 10px">

        {% for idc in IDC %}
        <div class="col-sm-6">
            <div class="box  box-warning">
                <!-- .box-header -->
                <div class="box-header with-border" >
                    <span class="idcicon fa fa-home"></span>
                    <h3 class="box-title">{{ idc.idc_name }}</h3>
                    <span class="fa fa-edit btn pull-right no-margin no-padding"
                          onclick="window.open('/cmdb/editIdc?idcId={{ idc.id }}')">
                    </span>
                </div>
                <!-- /.box-header -->

                <!-- .box-body -->
                <div class="box-body">
                    <div class="row">
                        <div class="idcinfo text col-sm-4 border-right no-margin" >
                            <span class="cabinfo">名称 : {{ idc.idc_name}}</span><br>
                            <span class="cabinfo">单位 : {{ idc.organization}}</span><br>
                            <span class="cabinfo">地址 : {{ idc.idc_address}}</span><br>
                            <span class="cabinfo">备注 : {{ idc.idc_memo}}</span><br>
                            {% for count in peridc_asset_count %}
                            {% if count.idc_name == idc.idc_name %}
                            <span class="cabinfo ">主机：【 {{ count.data.servercount }} 】台</span><br>
                            <span class="cabinfo ">网络：【 {{ count.data.netcount }} 】台</span><br>
                            <span class="cabinfo ">存储：【 {{ count.data.securitycount }} 】台</span><br>
                            <span class="cabinfo ">安全：【 {{ count.data.storgecount }} 】台</span><br>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="col-sm-8">
                            <div id="{{ idc.id }}">
                                <span>机柜信息 :</span><br>

                                {% for cabinet in idc.cabinet_set.all %}
                                <label class="label label-default" style="font-size: 13px;width: 65px;display: inline-block">
                                    {{ cabinet.cabinet_name}}
                                </label>
                                {% endfor %}



                                <!-- ------弹出机柜图------ -->
                                <br>
                                <button class="btn btn-xs btn-primary margin-r-5 pull-right"
                                        onclick="window.open('/cmdb/cabDetail?idcId={{ idc.id }}')">
                                    机柜图
                                </button>

                            </div>
                        </div>

                    </div>
                    <!-- /.row  -->
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock main_content %}


{% block foot_js %}
<!-- ----tab效果---- -->
<script>
    $(document).ready(function () {
        $("#idc").attr("id", "current"); // Activate first tab
    });
</script>
{% endblock foot_js %}