{% extends "base.html" %}


{% block main_content %}
<div class="row">
    <!--<div >-->
          <!--<div class="col-md-4">-->
          <!--<div class="info-box bg-red">-->
            <!--<span class="info-box-icon"><i class="fa fa-cubes"></i></span>-->

            <!--<div class="info-box-content">-->
              <!--<span class="info-box-text">中线局(京津冀)IT资产总数</span>-->
              <!--<span class="info-box-number text-center" style="font-size: 20px;"> {{asset_total}}</span>-->

              <!--<div class="progress">-->
                <!--<div class="progress-bar" style="width: 100%"></div>-->
              <!--</div>-->
                  <!--<span class="progress-description" style="font-size: 14px">-->
                    <!--服务器设备、存储设备、网络设备、安全设备-->
                  <!--</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
        <!--</div>-->
    <!--</div >-->

    <!--<div>-->
        <!--<div class="col-md-1">-->
            <!--<img src="/static/resources/common/server001.jpg"  width="100%"  height="100%" alt="asset">-->
        <!--</div>-->
    <!--</div>-->


    <div>
        <div class="col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-purple"><i class="fa fa-server " ></i></span>
            <div class="info-box-content">
              <span class="info-box-text">服务器</span>
              <span class="info-box-number text-center" style="font-size: 24px;line-height: 45px"">{{server_total}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
    </div >



    <div >
         <div class="col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-sitemap"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">网络设备</span>
              <span class="info-box-number text-center" style="font-size: 24px;line-height: 45px"">{{network_total}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
    </div >


    <div >
        <div class="col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-shield"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">安全设备</span>
              <span class="info-box-number text-center" style="font-size: 24px;line-height: 45px">{{security_total}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
    </div >



    <div >
        <div class="col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-database"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">存储设备</span>
              <span class="info-box-number text-center" style="font-size: 24px;line-height: 45px">{{storage_total}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
    </div >


</div>


<div class="row">
    <!-- 组织机构树图 -->
    <div class="col-md-8">
        <!-- LINE CHART -->
        <div class="box box-info" id="orgdiv">
            <div class="box-header with-border">
                <span class="fa fa-crosshairs"></span>
                <h3 class="box-title">组织机构图（京津冀）</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" class="chart" id="orgChart">
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <!-- ----- 京津冀资产分布柱形图----- -->
    <div class="col-xs-4">
        <div class="box box-danger" id="div01">
            <div class="box-header with-border">
                <span class="fa fa-bar-chart"></span>
                <h3 class="box-title">分局资产分布</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" id="Chart1">
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>


    <!-- 资产类型饼图 -->
    <div class="col-md-4">
        <!-- LINE CHART -->
        <div class="box box-info" id="div02">
            <div class="box-header with-border">
                <span class="fa fa-pie-chart"></span>
                <h3 class="box-title">资产类型分布</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" class="chart" id="Chart2">
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

</div>
<!--  /.row  -->
<!-- /顶部图表区域 -->

{% endblock main_content %}



{% block foot_js %}
<script src="/static/dist/js/echarts.min.js"></script>
<script src="/static/dist/js/customed_echart.js"></script>




<!-- ----柱状图------ -->
<script>
    var posList = [
    'left', 'right', 'top', 'bottom',
    'inside',
    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
    ];

    var labelOption = {
        normal: {
            show: true,
            position: 'insideBottom',
            distance: 15,
            align: 'left',
            verticalAlign: 'middle',
            rotate: 90,
            formatter: '{c}  {name|{a}}',
            fontSize: 16,
            rich: {
                name: {
                    textBorderColor: '#fff'
                }
            }
        }
    };

    var container1 = document.getElementById("Chart1");
    var width1 = $("#div01").width();
    $("#Chart1").css({"width": width1, "height": "300px"});
    // 绘制表格
    var myChart = echarts.init(container1, 'customed');
    var option = {
        color: ['#003366', '#006699', '#4cabce', '#e5323e'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['主机', '网络', '安全', '存储']
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                axisTick: {show: false},
                data: ['中线局', '北京分局', '河北分局', '天津分局']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '主机',
                type: 'bar',
                barGap: 0,
                label: labelOption,
                data: [{{zxj_server_count}}, {{bj_server_count}}, {{hb_server_count}}, {{tj_server_count}}]
            },
            {
                name: '网络',
                type: 'bar',
                label: labelOption,
                data: [{{zxj_network_count}}, {{bj_network_count}}, {{hb_network_count}}, {{tj_network_count}}]
            },
            {
                name: '安全',
                type: 'bar',
                label: labelOption,
                data: [{{zxj_security_count}}, {{bj_security_count}}, {{hb_security_count}}, {{tj_security_count}}]
            },
            {
                name: '存储',
                type: 'bar',
                label: labelOption,
                data: [{{zxj_storage_count}}, {{bj_storage_count}}, {{hb_storage_count}}, {{tj_storage_count}}]
            }
        ]
    };


    //调用图表
    myChart.setOption(option);
</script>




<!-- ----饼状图------ -->
<script>
    $(function () {
        // 设置表格大小
        var container2 = document.getElementById("Chart2");
        var width2 = $("#div02").width();
        $("#Chart2").css({"width": width2, "height": "300px"});

        // 绘制表格
        var myChart = echarts.init(container2, 'customed');
        var option = {
            tooltip: {},
            legend: {
                orient: 'vertical',
                x: 'left',
                data:['主机','网络','安全','存储']
            },
            series: [
                {
                    type: 'pie',
                    data: [
                        {value: {{server_total}}, name: '主机'},
                        {value: {{network_total}}, name: '网络'},
                        {value: {{security_total}}, name: '安全'},
                        {value: {{storage_total}}, name: '存储'},
                    ]
                }
            ]
        };
        // 调用表格
        myChart.setOption(option);
    });
</script>



<!-- ----组织e机构图------ -->
<script>
    $(function () {
        // 设置表格大小
        var container3 = document.getElementById("orgChart");
        var width3 = $("#orgdiv").width();
        $("#orgChart").css({"width": width3, "height": "665px"});

        // 绘制表格
        var myChart = echarts.init(container3, 'customed');
        var option = {
            title: {},
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove',
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            series: [
                {
                    name: '树图',
                    type: 'tree',
                    layout: 'radial',
                    orient: 'vertical',  // vertical horizontal
                    initialTreeDepth:4,
                    rootLocation: {x: 100, y: 'center'}, // 根节点位置  {x: 100, y: 'center'}
                    nodePadding: 8,
                    layerPadding: 200,
                    hoverable: true,
                    roam: true,
                    symbolSize: 15,
                    symbol: 'emptyCircle',
                    itemStyle: {
                        normal: {
                            color: '#4883b4',
                            label: {
                                show: true,
                                position: 'right',
                                formatter: "{b}",
                                textStyle: {
                                    color: '#000',
                                    fontSize: 14
                                },
                            },
                            lineStyle: {
                                color: '#ccc',
                                type: 'curve', // 'curve'|'broken'|'solid'|'dotted'|'dashed'
                                // shadowColor: 'rgba(0, 0, 0, 0.5)',
                                // shadowBlur: 1
                                curveness: 0.6,
                            }
                        },
                        emphasis: {
                            color: '#4883b4',
                            label: {
                                show: false
                            }
                        },
                        borderWidth: 0
                    },
                    //改为横向时需要取消注释
                    // leaves: {
                    //     label: {
                    //         normal: {
                    //             show: true,
                    //             position: 'bottom',
                    //             rotate: 90,
                    //             verticalAlign: 'middle',
                    //             align: 'left',
                    //         },
                    //         textStyle: {
                    //                 color: '#000',
                    //                 fontSize: 10
                    //             },
                    //     },
                    // },
                    data: [
                        {% autoescape off %}
                            {{org_data}}
                        {% endautoescape %}
    ]
    }
    ]
    }
        ;
        // 调用表格
        myChart.setOption(option)
    });
</script>

{% endblock %}