{% extends "base.html" %}


{% block main_content %}

<div class="box box-default">
    <div class="container container-fluid">
        <!--  第一行 -->
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12 ">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <h3 class="box-title">设备信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>设备品牌</dt>
                            <dd>{{vendor}}</dd>
                            <dt>设备类型</dt>
                            <dd>{{asset_type_display}}</dd>
                            <dt>设备子类型</dt>
                            <dd>{{asset_subtype_display}}</dd>
                            <dt>设备型号</dt>
                            <dd>{{model}}</dd>
                            <dt>设备序列号</dt>
                            <dd>{{sn}}</dd>

                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!--  /第一行 -->

        <!--  第二行 -->
        <div class="row">
            <div class="col-md-12" style="height: 50px">
                <button class="btn btn-primary pull-right" id="submit">下一步</button>
            </div>
        </div>
        <!--  第二行 -->


    </div>
</div>
</div>
{% endblock main_content %}

{% block foot_js %}
<script>
    $(function () {
        $('#submit').click(function () {
            $.post("/cmdb/networkDeviceSubmit/",
                {
                 asset_id:{{ID}},
                 asset_type:{{asset_type}},
                 asset_subtype:{{asset_subtype}},
                },
            function (data) {
                window.location.href =("/cmdb/networkDeviceSubmit/")
            }
            )
        });
    })
</script>
{% endblock foot_js %}

