{% extends "base.html" %}

{% block main_content %}

<section id="getintouch" class="bounceIn animated">
        <div class="container2" style="border-bottom: 0;">
            <h1>
                <span>请填写存储设备信息</span>
            </h1>
        </div>
        <div class="container">
            <form class="contact" action="storageDeviceSubmit" method="post" id="form">
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        存储设备类型</label>
                </div>
                <div class="ctrl">
                     <select name="sub_asset_type">
                         <option value="0">请选择存储设备类型</option>
                         <option value="1">磁盘阵列</option>
                         <option value="2">网络存储器</option>
                         <option value="3">光纤交换机</option>
                         <option value="4">磁带库</option>
                         <option value="5">磁带机</option>
                     </select><br>
                </div>
            </div>
            <div class="row  clearfix">
                <div class="span10 offset2" style="width: 95%">
                    <input type="hidden" name="assetId" value="{{ ID }}">
                    <input style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: right;" type="submit" name="submit" id="submit" class="submit btn btn-block btn-primary" value="下一步">
                    <button type="button" style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: left;" class="btn btn-block btn-success" onclick="window.location.href='http://127.0.0.1:8000/cmdb'">返回</button>
                </div>
            </div>
            </form>
        </div>
    </section>
{% endblock main_content %}



