{% extends "base.html" %}

{% block css_block %}
<link href="/static/css/form2.css" type="text/css" rel="stylesheet">
{% endblock css_block %}

{% block main_content %}

<section id="getintouch" class="bounceIn animated">
        <div class="container2" style="border-bottom: 0;">
            <h1>
                <span>请填写安全设备信息</span>
            </h1>
        </div>
        <div class="container">
            <form class="contact" action="securityDeviceSubmit" method="post" id="form">
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        安全设备类型</label>
                </div>
                <div class="ctrl">
                     <select name="sub_asset_type">
                         <option value="0">请选择安全设备类型</option>
                         <option value="1">防火墙</option>
                         <option value="2">入侵检测设备</option>
                         <option value="3">入侵防御设备</option>
                         <option value="4">综合安全网关</option>
                         <option value="5">数据库审计系统</option>
                         <option value="6">运维审计系统</option>
                         <option value="7">防病毒网关</option>
                         <option value="8">ＷＡＦ防火墙</option>
                         <option value="9">安全配置核查</option>
                         <option value="10">网络准入系统</option>
                         <option value="11">网闸设备</option>
                         <option value="12">ＶＰＮ设备</option>
                     </select><br>
                </div>
            </div>
                <div class="row clearfix">
                <div class="lbl">
                    <label>
                        备注</label>
                </div>
                <div class="ctrl">
                    <input type="text" name="memo" placeholder="请输入备注信息">
                </div>
            </div>
            <div class="row  clearfix">
                <div class="span10 offset2" style="width: 95%">
                    <input type="hidden" name="assetId" value="{{ ID }}">
                    <input style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: right;" type="submit" name="submit" id="submit" class="submit btn btn-block btn-primary" value="下一步">
                    <button type="button" style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: left;" class="btn btn-block btn-success" onclick="window.location.href='http://127.0.0.1:8000/cmdb/asset'">返回</button>
                </div>
            </div>
            </form>
        </div>
    </section>
{% endblock main_content %}



