{% extends "base.html" %}

{% block css_block %}
<link href="/static/css/form2.css" type="text/css" rel="stylesheet">
{% endblock css_block %}

{% block main_content %}

<section id="getintouch" class="bounceIn animated">
        <div class="container2" style="border-bottom: 0;">
            <h1>
                <span>请填写设备信息</span>
            </h1>
        </div>
        <div class="container2" style="border-bottom: 0;">
            设备厂商：{{ vendor }} <br>
            设备型号：{{ model }}<br>
            设备序列号：{{ sn }}<br>
            设备类型：{{ asset_type }}<br>
        </div>
        <div class="container">
            <form class="contact" action="serverSubmit" method="post" id="form">
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        服务器类型</label>
                </div>
                <div class="ctrl">
                    <select  name="sub_asset_type" >
                        {% if asset_subtype != "0" %}
                            <option value="{{ asset_subtype }}">{{ asset_subtype_display }}</option>
                        {% else %}
                            <option value="0">请选择服务器类型</option>
                        {% endif %}
                        <option value="1">PC服务器</option>
                        <option value="2">小型机</option>
                        <option value="3">刀片机</option>
                        <option value="4">虚拟机</option>
                        <option value="5">容器</option>
                    </select><br />
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        宿主机</label>
                </div>
                <div class="ctrl">
                    <select  name="hosted_on" >
                        <option value="0">无</option>
                        {% for Server in Servers %}
                            <option value={{ Server.id}}>{{ Server.asset.asset_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        微码版本</label>
                </div>
                <div class="ctrl">
                    <input type="text" name="microcode" placeholder="请输入微码版本">
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        操作系统</label>
                </div>
                <div class="ctrl">
                    <select  required name="os_type" style="float: left;">
                        <option  value="0">请选择操作系统</option>
                        <option value="1">Windows</option>
                        <option value="2">Unix</option>
                        <option value="3">Linux</option>
                        <option value="4">Other</option>
                    </select><br />
                </div>
            </div>

            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        发行版本</label>
                </div>
                <div class="ctrl">
                    <input type="text" name="os_distribution" placeholder="请输入发行版本">
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        操作系统版本</label>
                </div>
                <div class="ctrl">
                    <input type="text" name="os_release" placeholder="请输入操作系统版本">
                </div>
            </div>
            <div class="row  clearfix">
                <div class="span10 offset2" style="width: 95%">
                    <input type="hidden" name="assetId" value="{{ ID }}">
                    <input style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: right;" type="submit" name="submit" id="submit" class="submit btn btn-block btn-primary" value="下一步">
                    <button type="button" style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: left;" class="btn btn-block btn-success" onclick="window.location.href='http://127.0.0.1:8000/cmdb/asset'">返回</button>
                </div>
            </div>
            </form>
        </div>
    </section>
{% endblock main_content %}



