{% extends "base.html" %}

{% block css_block %}
<link href="/static/css/form2.css" type="text/css" rel="stylesheet">
{% endblock css_block %}

{% block main_content %}

<div class="container-fluid no-padding">
    <div class="row" style="margin-top: 10px">
        <!-- 第一列 -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">完善设备信息</h3>
                    </div>

                    <div class="box-body "style="padding: 10px 30px">
                        <form  action="serverSubmit" method="post" id="form">
                            {% csrf_token %}

                            <!-- 选择设备子类型 -->
                            <div class="form-group">
                                <input type="hidden" name="assetid" value= "{{ ID }}">
                                <input type="hidden" name="sub_asset_type" value= "{{ asset_subtype }}">
                            </div>
                            <!-- /选择服务器子类型 -->


                            <!-- /选择宿主机 -->
                            <div class="form-group margin-bottom" id="hosted_on_1" style="display: none;">
                                <label for="hosted_on">宿主机</label><br>
                                <select required class="form-control select2 inline" id="hosted_on" name="hosted_on">
                                    <option value="0">请选择宿主机</option>
                                    {% for server in servers %}
                                    <option value={{ server.id}}>{{ server.asset_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- /.选择宿主机 -->


                            <!-- 选择设备微码版本 -->
                            <div class="form-group margin-bottom">
                                <label for="microcode">微码版本</label><br>
                                <input class="form-control" type="text" id="microcode" name="microcode"
                                       placeholder="请输入微码版本">
                            </div>
                            <!-- /选择服务器微码版本 -->


                            <!-- /选择操作系统 -->
                            <div class="form-group margin-bottom">
                                <label for="os_type">操作系统类型</label><br>
                                <select class="form-control select2 inline" id="os_type" name="os_type">
                                    <option value="0">请选择操作系统</option>
                                    <option value="1">Windows</option>
                                    <option value="2">Unix</option>
                                    <option value="3">Linux</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <!-- /.选择操作系统 -->


                            <!-- 选择设备发行版本 -->
                            <div class="form-group margin-bottom">
                                <label for="os_distribution">发行版本</label><br>
                                <input class="form-control" type="text" id="os_distribution" name="os_distribution"
                                       placeholder="请输入发行版本">
                            </div>
                            <!-- /选择设备发行版本 -->

                            <!-- 选择设备操作系统版本 -->
                            <div class="form-group margin-bottom">
                                <label for="os_release">操作系统版本</label><br>
                                <input class="form-control" type="text" id="os_release" name="os_release"
                                       placeholder="请输入操作系统版本">
                            </div>
                            <!-- /选择设备操作系统版本 -->


                            <div class="box-footer">
                                <button class="btn btn-primary pull-right" type="submit"  id="submit" >下一步</button>
                                <button class="btn btn-success"  type="button" onclick="window.location.href='/cmdb/asset'">
                                    返回
                                </button>
                            </div>

                        </form>
                    </div>
                    <!--  /.box body  -->

                </div>
            </div>
        <!-- /第一列 -->


        <!-- 第二列 -->
        <div class="col-md-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">添加的设备信息</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover" style="width: 80%; margin: 0 auto;" >
                        <tr>
                            <td class="text-center" style="width: 40%">设备品牌</td>
                            <td class="text-center" style="width: 60%">{{ vendor }}</td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40%" >设备类型</td>
                            <td class="text-center" style="width: 60%">{{ asset_type_display }}</td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40%" >设备子类型</td>
                            <td class="text-center" style="width: 60%">{{ asset_subtype_display }}</td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40%" >设备型号</td>
                            <td class="text-center" style="width: 60%">{{ model }}</td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40%">设备序列号</td>
                            <td class="text-center" style="width: 60%">{{ sn }}</td>
                        </tr>
                    </table>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /第er列 -->
    </div>

</div>

{% endblock main_content %}


{% block foot_js %}
<script>
    //只有子类型为虚拟机的时候才会显示添加hosted_on
    $(function () {
        var temp ={{asset_subtype}};
        if(temp=='4'){
          $("#hosted_on_1").css('display', '')
        }
    });

</script>
{% endblock foot_js %}