


            <!-- -------------------表格-------------------------  -->

                <div id="div01">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">资产名称</th>
                            <th class="text-center">资产类型</th>
                            <th class="text-center">资产编号</th>
                            <th class="text-center">设备品牌</th>
                            <th class="text-center">设备型号</th>
                            <th class="text-center">设备序列号</th>
                            <th class="text-center">管理地址</th>
                            <th class="text-center">所处网络</th>
                            <th class="text-center">所属单位</th>
                            <th class="text-center">设备状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>


                        <tbody>
                        {% for Asset in page.object_list %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>

                            <td><a href="#">
                                <li id="asset_detail" style="list-style-type:none"
                                    onclick="return detail(this.value)"
                                    value="{{ Asset.id }}"> {{ Asset.object.asset_name }}
                                </li>
                            </a>
                            </td>
                            <td>{{ Asset.object.get_asset_type_display }}</td>
                            <td>{{ Asset.object.asset_no }}</td>
                            <td>{{ Asset.object.model.vendor }}</td>
                            <td>{{ Asset.object.model }}</td>
                            <td>{{ Asset.object.sn }}</td>
                            <td>{{ Asset.object.manage_ip }}</td>
                            <td>{{ Asset.object.get_network_location_display }}</td>
                            <td>{{ Asset.object.organization }}</td>
                            <td class="text-center">{{ Asset.object.get_status_display }}</td>
                            <td class="text-center">
                                <a href="http://127.0.0.1:8000/cmdb/index/deleteARecord?myid={{ Asset.id }}">
                                    <i class="glyphicon glyphicon-edit text-info"
                                       style="margin-right: 5px"></i>
                                </a>
                                <a href="http://127.0.0.1:8000/cmdb/index/editARecord?myid={{ Asset.id }}">
                                    <i class="glyphicon glyphicon-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /row  -->

            {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="/search/?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                上一页{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="/search/?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页
                &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
            {% endif %}



