{% extends "base.html" %}

{% block main_content %}

<section id="getintouch" class="fadeInRightBig animated">
        <div class="container2" style="border-bottom: 0;">
            <h1>
                <span>请修改设备信息</span>
            </h1>
        </div>
        <div class="container">
            <form class="contact" action="editSubmit?myid={{ ID }}" method="post" id="form">
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        设备类型</label>
                </div>
                <div class="ctrl">
                    <select  name="asset_type" style="float: left;">
                        <option value="{{ ASSET.asset_type }}" selected="selected">{{ ASSET.get_asset_type_display}}</option>
                    </select><br />
                    <span style="color:red;float:left;position: relative;left: 3px;top: -12px;">*</span>
                </div>
            </div>

            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        设备型号</label>
                    <a class="btn buttons" onclick="$('#model').load('http://127.0.0.1:8000/cmdb/addARecord'+ ' #model')" >
                        <i class="fa fa-fw fa-refresh"></i>
                    </a>
                </div>
                <div class="ctrl" id="model">
                    <select required  name="model" >
                        <option value="{{ ASSET.model.id }}" selected="selected">{{ ASSET.model.models}}</option>
                        {% for Model in Models%}
                            <option value={{ Model.id }}>{{ Model.models }}</option>
                        {% endfor %}
                    </select>
                    <span style="color:red">*</span>
                    <a class="btn buttons" target="_blank" href="http://127.0.0.1:8000/cmdb/editModel">
                        <i class="fa fa-edit"></i> add
                    </a>
                </div>
            </div>

            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        设备序列号</label>
                </div>
                <div class="ctrl">
                    <input required type="text" name="sn" value="{{ ASSET.sn }}">
                    <span style="color:red">*</span>
                </div>
            </div>

            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        资产名称</label>
                </div>
                <div class="ctrl">
                    <input required type="text" name="asset_name"  value="{{ ASSET.asset_name }}">
                    <span style="color:red">*</span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        资产编号</label>
                </div>
                <div class="ctrl">
                    <input required type="text" name="asset_no" value="{{ ASSET.asset_no }}">
                    <span style="color:red">*</span>
                </div>
            </div>

             <div class="row clearfix">
                <div class="lbl">
                    <label >
                        所属网络</label>
                </div>
                <div class="ctrl">
                    <select  name="network_location" >
                        {% if ASSET.network_location %}
                            <option value="{{ ASSET.network_location }}" selected="selected">{{ ASSET.get_network_location_display }}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择所属网络</option>
                        {% endif %}
                        <option value="1">控制专网</option>
                        <option value="2">业务内网</option>
                        <option value="3">业务外网</option>
                    </select><br />
                </div>
            </div>

            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        管理IP</label>
                </div>
                <div class="ctrl">
                    <input type="text" name="manage_ip" value="{{ ASSET.manage_ip }}">
                </div>
            </div>

            <div class="row clearfix" style="float: left;">
                <div class="lbl" style="float: left;width: auto;margin-right: 4em;">
                    <label>
                        机柜</label>
                </div>
                <div class="ctrl" id="org" style="float: left;width:12em;margin-right: 2em;">
                    <select  id="o" name="organization">
                        {% if ASSET.organization %}
                            <option value="{{ ASSET.organization.id }}" selected="selected">{{ ASSET.organization.org_name }}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择单位</option>
                        {% endif %}

                        {% for Organization in Organizations %}
                            <option value={{ Organization.id }}>{{ Organization.org_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row clearfix" style="float: left;width:12em;margin-right: 2em;">
                <div class="ctrl" id="IDC">
                    <select   id="i" name="idc" onchange="var args = $('#i').serialize();var x1 = '{%url 'cmdb:showCabs'%}?' + args;$('#cab').load(x1 + ' #cab')">
                        {% if ASSET.idc %}
                            <option value="{{ ASSET.idc.id }}" selected="selected">{{ ASSET.idc.idc_name }}</option>
                            <option value=""0>无</option>
                        {% else %}
                            <option value=""0>请选择机房</option>
                        {% endif %}
                        {% for Idc in Idcs %}
                            <option value={{ Idc.id}}>{{ Idc.idc_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row clearfix" style="float: left;width:9em;">
                <div class="ctrl" id="cab" onchange="var args = $('#c').serialize();var x1 = '{%url 'cmdb:showCabSpaces'%}?' + args;$('#cabSpace').load(x1 + ' #cabSpace');">
                    <select id="c" name="cab">
                        {% if ASSET.cabinet %}
                            <option value="{{ ASSET.cabinet.id }}" selected="selected">{{ ASSET.cabinet.cabinet_name }}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择机柜</option>
                        {% endif %}
                        {% for Cab in Cabs %}
                            <option value={{ Cab.id}}>{{ Cab.cabinet_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row clearfix" style="height:120px;clear: left;">
                <div class="lbl" style="float: left;width: auto;margin-right: 4em;">
                    <label>
                        位置</label>
                </div>
                <div class="ctrl" id="cabSpace" style="float:left;height:120px;">
                    <select name="cabSpace" multiple style="height:120px;width: 11em;">
                        {% if CSSelected %}
                            {% for cs in CSSelected %}
                            <option selected value={{ cs.id}}>{{cs.get_cabinet_location_display}}</option>}
                            {% endfor %}
                        {% endif %}

                        {% for CabSpace in CabSpaces %}
                            <option value={{ CabSpace.id}}>{{CabSpace.get_cabinet_location_display}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        设备状态</label>
                </div>
                <div class="ctrl">
                    <select  name="status" >
                        {% if ASSET.status %}
                            <option value="{{ ASSET.status }}" selected="selected">{{ ASSET.get_status_display }}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择设备状态</option>
                        {% endif %}

                        <option value="1">使用中</option>
                        <option value="2">未使用</option>
                        <option value="3">故障</option>
                        <option value="4">其它</option>
                    </select><br />
                </div>
            </div>
             <div class="row clearfix">
                <div class="lbl">
                    <label>
                        合同</label>
                </div>
                <div class="ctrl" id="contract">
                    <select  name="contract" >
                        {% if ASSET.contract %}
                            <option value="{{ ASSET.contract.id }}" selected="selected">{{ ASSET.contract}}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择合同</option>
                        {% endif %}

                        {% for Contract in Contracts %}
                            <option value={{ Contract.id}}>{{ Contract.contract_name }}</option>
                        {% endfor %}
                    </select>
                </div>
             </div>
             <div class="row clearfix">
                <div class="lbl">
                    <label>
                        管理员</label>
                </div>
                <div class="ctrl">
                    <select  name="admin">
                        {% if ASSET.admin %}
                            <option value="{{ ASSET.admin.id }}" selected="selected">{{ ASSET.admin}}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择管理员</option>
                        {% endif %}
                        {% for User in Users %}
                            <option value={{ User.id}}>{{ User.username }}</option>
                        {% endfor %}
                    </select>
                 </div>
            </div>


            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        供应商</label>
                    <a class="btn buttons" onclick="$('#supplier').load('http://127.0.0.1:8000/cmdb/addARecord'+ ' #supplier')" >
                        <i class="fa fa-fw fa-refresh"></i>
                    </a>
                </div>
                <div class="ctrl" id="supplier">
                    <select  name="supplier" >
                        {% if ASSET.supplier %}
                            <option value="{{ ASSET.supplier.id }}" selected="selected">{{ ASSET.supplier}}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择供应商</option>
                        {% endif %}
                        {% for Supplier in Suppliers %}
                            <option value={{ Supplier.id}}>{{ Supplier.supplier_name}}</option>
                        {% endfor %}
                    </select>
                    <a class="btn buttons buttons" target="_blank" href="http://127.0.0.1:8000/cmdb/editSupplier">
                        <i class="fa fa-edit"></i> add
                    </a>
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        购买日期</label>
                </div>
                <div class="ctrl">
                    <input type="date" value="{{ PURCHASE_DAY }}" name="purchase_day" placeholder="请选择购买日期">
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        过保日期</label>
                </div>
                <div class="ctrl">
                    <input type="date" value="{{ EXPIRE_DAY }}" name="expire_day" placeholder="请选择过保日期">
                </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        审批人</label>
                </div>
                <div class="ctrl">
                    <select  name="approved_by" >
                        {% if ASSET.approved_by %}
                            <option value="{{ ASSET.approved_by.id }}" selected="selected">{{ ASSET.approved_by}}</option>
                            <option value="0">无</option>
                        {% else %}
                            <option value="0">请选择审批人</option>
                        {% endif %}

                        {% for User in Users %}
                            <option value={{ User.id}}>{{ User.username }}</option>
                        {% endfor %}
                    </select>
                 </div>
            </div>
            <div class="row clearfix">
                <div class="lbl">
                    <label>
                        备注</label>
                </div>
                <div class="ctrl">
                    <textarea  id="memo" name="memo" rows="6" cols="6">{{ ASSET.memo }}</textarea>
                 </div>
            </div>

            {% if ASSET.asset_type == "1" %}
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            服务器类型</label>
                    </div>
                    <div class="ctrl">
                        <select  name="sub_asset_type" >
                            {% if ASSET.server.sub_asset_type %}
                                <option value="{{ ASSET.server.sub_asset_type }}">{{ ASSET.server.get_sub_asset_type_display }}</option>
                                <option value="0">无</option>
                            {% else %}
                                <option value="0">请选择服务器类型</option>
                            {% endif %}
                            <option value="1">PC服务器</option>
                            <option value="2">小型机</option>
                            <option value="3">刀片机</option>
                            <option value="4">虚拟机</option>
                            <option value="5">容器</option>
                        </select><br />
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            宿主机</label>
                    </div>
                    <div class="ctrl">
                        <select  name="hosted_on" >
                            {% if ASSET.server.hosted_on %}
                                <option value="{{ ASSET.server.hosted_on.id }}">{{ ASSET.server.hosted_on.asset.asset_name }}</option>
                            {% endif %}
                            <option value="0">无</option>
                            {% for Server in Servers %}
                                <option value={{ Server.id}}>{{ Server.asset.asset_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            微码版本</label>
                    </div>
                    <div class="ctrl">
                        <input type="text" name="microcode" value="{{ ASSET.server.microcode }}" >
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            操作系统</label>
                    </div>
                    <div class="ctrl">
                        <select  required name="os_type" style="float: left;">
                            {% if ASSET.server.os_type %}
                                <option  value="{{ ASSET.server.os_type }}">{{ ASSET.server.get_os_type_display }}</option>
                                <option value="0">无</option>
                            {% else %}
                                <option value="0">请选择操作系统</option>
                            {% endif %}

                            <option value="1">Windows</option>
                            <option value="2">Unix</option>
                            <option value="3">Linux</option>
                            <option value="4">Other</option>
                        </select><br />
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            发行版本</label>
                    </div>
                    <div class="ctrl">
                        <input type="text" name="os_distribution" value="{{ ASSET.server.os_distribution }}">
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            操作系统版本</label>
                    </div>
                    <div class="ctrl">
                        <input type="text" name="os_release" value="{{ ASSET.server.os_release }}">
                    </div>
                </div>
            {% endif %}

            {% if ASSET.asset_type == "2" %}
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            网络设备类型</label>
                    </div>
                    <div class="ctrl">
                         <select name="sub_asset_type">
                             {% if ASSET.networkdevice.sub_asset_type %}
                                 <option value="{{ ASSET.networkdevice.sub_asset_type }}">{{ ASSET.networkdevice.get_sub_asset_type_display }}</option>
                                 <option value="0">无</option>
                             {% else %}
                                 <option value="0">请选择网络设备类型</option>
                             {% endif %}
                             <option value="1">路由器</option>
                             <option value="2">交换机</option>
                             <option value="3">工业交换机</option>
                             <option value="4">无线控制器</option>
                             <option value="5">无线ＡＰ</option>
                        </select><br>
                    </div>
                </div>
            {% endif %}

            {% if ASSET.asset_type == "3" %}
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            安全设备类型</label>
                    </div>
                    <div class="ctrl">
                         <select name="sub_asset_type">
                             {% if ASSET.securitydevice %}
                                 <option value="{{ ASSET.securitydevice.sub_asset_type }}">{{ ASSET.securitydevice.get_sub_asset_type_display }}</option>
                                <option value="0">无</option>
                             {% else %}
                                    <option value="0">请选择安全设备类型</option>
                             {% endif %}
                             <option value="1">防火墙</option>
                             <option value="2">入侵检测设备</option>
                             <option value="3">入侵防御设备</option>
                             <option value="4">综合安全网关</option>
                             <option value="5">数据库审计系统</option>
                             <option value="6">运维审计系统</option>
                             <option value="7">防病毒网关</option>
                             <option value="8">ＷＡＦ防火墙</option>
                             <option value="9">安全配置核查</option>
                             <option value="10">网络准入系统</option>
                             <option value="11">网闸设备</option>
                             <option value="12">ＶＰＮ设备</option>
                         </select><br>
                    </div>
                </div>
                    <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            备注</label>
                    </div>
                    <div class="ctrl">
                        <input type="text" name="SeDMemo" value="{{ ASSET.securitydevice.memo }}">
                    </div>
                </div>
            {% endif %}

            {% if ASSET.asset_type == "4" %}
                <div class="row clearfix">
                    <div class="lbl">
                        <label>
                            存储设备类型</label>
                    </div>
                    <div class="ctrl">
                         <select name="sub_asset_type">
                             {% if ASSET.storagedevice.sub_asset_type %}
                                 <option value="{{ ASSET.storagedevice.sub_asset_type }}">{{ ASSET.storagedevice.get_sub_asset_type_display }}</option>
                                <option value="0">无</option>
                             {% else %}
                                    <option value="0">请选择存储设备类型</option>
                             {% endif %}
                             <option value="1">磁盘阵列</option>
                             <option value="2">网络存储器</option>
                             <option value="3">光纤交换机</option>
                             <option value="4">磁带库</option>
                             <option value="5">磁带机</option>
                         </select><br>
                    </div>
                </div>
            {% endif %}

            <div class="row  clearfix">
                <div class="span10 offset2" style="width: 95%">
                    <input style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: right;" type="submit" name="submit" id="submit" class="submit btn btn-block btn-primary" value="保存">
                    <button type="button" style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: left;" class="btn btn-block btn-success" onclick="window.location.href='http://127.0.0.1:8000/cmdb'">取消</button>
                    <button type="button" style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: right;margin-right: 2em;" class="btn btn-block btn-warning" onclick="window.location.href='http://127.0.0.1:8000/cmdb/editMore?assetId={{ ASSET.id }}'">编辑部件</button>

                </div>
            </div>
            </form>
        </div>
    </section>
{% endblock main_content %}

{% block foot_js %}
    <script src="/static/plugins/layer/layer.js"></script>
    <script>
        $(function(){
            $("#o").change(function (){
                var args = $("#o").serialize();
                var x1 = "{%url 'cmdb:showIdcs'%}?" + args;
                $("#IDC").load(x1 + " #IDC")
            });
        });

    </script>
{% endblock foot_js %}

