{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织机构</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/dist/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.css">
    <style>
        body{padding:20px 40px;margin:0;background:url(/static/img/bg.png);}
    </style>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js" ></script>
    <script>
        $(function () {
            var x = {{ ORGANIZATION.id }};
            if (x){
                $("#editOrgBox").css('display', '');
            }
        })
    </script>

    <link rel="stylesheet" href="/static/css/xcConfirm.css">

    <script type="text/javascript" src="/static/js/xcConfirm.js"></script>
</head>
<body>
                <div class="row" style="margin-top: 10px">

                    <div class="col-sm-8">
                        <div class="box box-warning">

                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <i class="glyphicon glyphicon-home"></i>
                                    单位列表
                                </h3>
                            </div>

                            <!-- 供应商清单 -->
                            <form method="post" action="editOrg" id="deleteForm">
                                <div class="box-body table-responsive ">
                                    <table class="table table-hover">
                                        <tr>
                                            <th class="text-center">选择</th>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">名称</th>
                                            <th class="text-center">地址</th>
                                            <th class="text-center">上级</th>
                                            <th class="text-center">备注</th>
                                            <th class="text-center">编辑</th>

                                        </tr>
                                        {% for i in org %}
                                            <tr>
                                                <td class="text-center"><input type="checkbox" name="delete_org" value="{{ i.pk }}"></td>
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td class="text-center">{{ i.org_name }}</td>
                                                <td class="text-center">{{ i.org_address }}</td>
                                                <td class="text-center">{{ i.parent_org }}</td>
                                                <td class="text-center">{{ i.org_memo }}</td>
                                                <td class="text-center">
                                                    <a href="http://127.0.0.1:8000/cmdb/editOrg?orgId={{ i.id }}">
                                                        <i class="glyphicon glyphicon-edit text-info"
                                                           style="margin-right: 5px"></i>
                                                    </a>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>


                                <div class="box-footer " >
                                    <button type="button" onclick="var txt=  '确定删除所选单位？';window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);" class="btn btn-danger pull-right">Delete</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->
                    </div>

                    <!-- ---添加用户-- -->
                    <div class="col-sm-4">
                        <div class="box box-primary">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-plus"></i>
                                <h3 class="box-title">添加单位</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="addOrgSubmit" method="post" id="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">单位名称</label>
                                        <input class="form-control" type="text" name="name" placeholder="org name">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">单位地址</label>
                                        <input class="form-control" type="text" name="address" placeholder="address">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">上级单位</label>
                                        <select class="form-control" name="parent_org" >
                                            <option value="0">请选择上级单位</option>
                                            {% for o in org %}
                                                <option value={{ o.id }}>{{ o.org_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">备注</label>
                                        <input class="form-control" type="text" name="memo" placeholder="memo">
                                    </div>

                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>

                        <div class="box box-success" id="editOrgBox" style="display: none">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-edit"></i>
                                <h3 class="box-title">编辑单位</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="editAOrganizationSubmit?orgId={{ ORGANIZATION.id }}" method="post">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">单位名称</label>
                                        <input class="form-control" type="text" name="name" value="{{ ORGANIZATION.org_name}}">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">单位地址</label>
                                        <input class="form-control" type="text" name="address" value="{{ ORGANIZATION.org_address }}">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">上级单位</label>
                                            <select class="form-control" name="parent_org" >
                                                <option value="{{ ORGANIZATION.parent_org.id }}">{{ ORGANIZATION.parent_org.org_name }}</option>
                                                {% for o in org %}
                                                    <option value={{ o.id }}>{{ o.org_name}}</option>
                                                {% endfor %}
                                            </select>
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">备注</label>
                                        <input class="form-control" type="text" name="memo" value="{{ ORGANIZATION.org_memo}}">
                                    </div>
                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>

                    </div>


                </div>
</body>