{% extends "base.html" %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="demo" style="margin-bottom: 0;">
                        <div class="sx">
                            <span>单位：</span>
                            {% for org in ORGS %}
                                 <a rel="{{ org.id }}" class="sx_child" name="aaa" href="javascript:;">{{ org.org_name }}</a>
                            {% endfor %}
                        </div>

                        <div class="sx">
                            <span>管理：</span>
                            <a rel="1" class="sx_child" name="bbb" href="javascript:;">机房管理</a>
                            <a rel="2" class="sx_child" name="bbb" href="javascript:;">员工管理</a>
                            <a rel="3" class="sx_child" name="bbb" href="javascript:;">合同管理</a>
                        </div>
                        <div class="zj" style="display: none;">
                            <span>删选结果：</span>
                            <p class="qcqb">清除全部</p>
                        </div>
                    </div>

                    <script type="text/javascript" src="/static/js/shanxuan.js"></script>
                    <script type="text/javascript">
                    $('.sx').sx({
                        nuv:".zj",//筛选结果
                        zi:"sx_child",//所有筛选范围内的子类
                        qingchu:'.qcqb',//清除全部
                        over:'on'//选中状态样式名称
                    });
                    </script>

                    {% for idc in myIdcs %}
                        <div class="mybox mybox-teal" style="margin:2em;float:left;width: 40%;">
                            <div class="mybox-header">
                                <label for="CPU">{{ idc.idc_name }}</label>
                            </div>
                            <div class="mybox-body">
                                <div style="float: left;width: 100%;line-height: 2em;">
                                    <label>机房名称 :</label>
                                    <span style="margin-left: 1em">{{ idc.idc_name}}</span><br>
                                    <label>机房地址 :</label>
                                    <span style="margin-left: 1em">{{ idc.idc_address}}</span><br>
                                    <label>备注信息 :</label>
                                    <span style="margin-left: 1em">{{ idc.idc_memo}}</span><br>
                                    <label>机柜信息 :</label>
                                    <a href="#" style="margin-left: 1em;line-height: 20px;" class="text-center">展示或编辑机柜信息</a>
                                </div>
                                <button style="position: absolute;left:85%;width: 10%;">编 辑</button>
                            </div>
                        </div>
                    {% endfor %}
                <div style="clear: left"></div>
                <button style="margin-top:2em; margin-left:3em;width:100px;margin-bottom: 30px" class="btn btn-block btn-success">添加机房</button>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block foot_js %}

{% endblock foot_js %}

