{% extends "base.html" %}


{% block css_block %}
    <link href="/static/dist/css/tab_css.css" type="text/css" rel="stylesheet">
    <link href="/static/css/form2.css" type="text/css" rel="stylesheet">
    <style>
        #selectedTab a{
            background: white;
        }
        #selectedTab a::after{
            background: white;
        }
    </style>

{% endblock css_block %}


{% block main_content %}

<ul  id="tabs">
    <li id="org"><a href="http://127.0.0.1:8000/cmdb/orgManage" >组织机构</a></li>
    <li id="idc"> <a href="http://127.0.0.1:8000/cmdb/idcManage" >机房管理</a></li>
    <li id="user"><a href="http://127.0.0.1:8000/cmdb/userManage" >用户管理</a></li>
    <li id="contract"><a href="http://127.0.0.1:8000/cmdb/contractManage" >合同管理</a></li>
    <li id="supplier"><a href="http://127.0.0.1:8000/cmdb/supplierManage" >供应商管理</a></li>
    <li id="vendor"><a href="http://127.0.0.1:8000/cmdb/vendorManage" >厂商管理</a></li>
</ul>

<!-- content -->
<div class="row">
        <div class="col-xs-12">
            <div class="box" >
                <div class="box-body">

                    <div class="row">
                        <!-- /.col (RIGHT) -->
                        <div class="col-md-12">
                            <!-- LINE CHART -->
                            <div  id="orgdiv">
                                <div class="box-header with-brder" style="margin-top: 10px;">
                                    <h3 class="box-title">京津冀段组织机构</h3>
                                    <a href="http://127.0.0.1:8000/cmdb/editOrg" target="_blank" style="margin-left: 1em;">编辑</a>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="chart box-body" id="orgChart">
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
{#                        <button style="width: 120px;position:relative;top: 20px;left:1em;" onclick="window.open('http://127.0.0.1:8000/cmdb/editOrg')" class="btn btn-block btn-info">编辑组织单位</button>#}
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- /content -->
{% endblock main_content %}


{% block foot_js %}
<script src="/static/dist/js/echarts.min.js"></script>
<script src="/static/dist/js/customed_echart.js"></script>

  <!-- ----tab效果---- -->
<script>
    $(document).ready(function () {
        $("#org").attr("id", "current"); // Activate first tab
    });
</script>


<!-- ----组织机构图------ -->
<script>
    $(function () {
        // 设置表格大小
        var container3 = document.getElementById("orgChart");
        var width3 = $("#orgdiv").width();
        $("#orgChart").css({"width": width3, "height": "850px"});

        // 绘制表格
        var myChart = echarts.init(container3, 'customed');
        var option = {
            title: {},
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove',
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },

            series: [
                {
                    name: '树图',
                    type: 'tree',
                    layout: 'radial',
                    orient: 'vertical',  // vertical horizontal
                    initialTreeDepth:4,
                    rootLocation: {x: 100, y: 230}, // 根节点位置  {x: 100, y: 'center'}
                    nodePadding: 8,
                    layerPadding: 200,
                    hoverable: true,
                    roam: true,
                    symbolSize: 15,
                    symbol: 'emptyCircle',
                    itemStyle: {
                        normal: {
                            color: '#4883b4',
                            label: {
                                show: true,
                                position: 'right',
                                formatter: "{b}",
                                textStyle: {
                                    color: '#000',
                                    fontSize: 14
                                },
                            },
                            lineStyle: {
                                color: '#ccc',
                                type: 'curve', // 'curve'|'broken'|'solid'|'dotted'|'dashed'
                                // shadowColor: 'rgba(0, 0, 0, 0.5)',
                                // shadowBlur: 1
                                curveness: 0.6,
                            }
                        },
                        emphasis: {
                            color: '#4883b4',
                            label: {
                                show: false
                            }
                        },
                        borderWidth: 0
                    },

                    data: [
                        {% autoescape off %}
                            {{data}}
                        {% endautoescape %}
    ]
    }
    ]
    }
        ;
        // 调用表格
        myChart.setOption(option)
    });
</script>
{% endblock foot_js %}