{% extends "base.html" %}


{% block css_block %}
<link href="/static/dist/css/tab_css.css" type="text/css" rel="stylesheet">
{% endblock css_block %}


{% block main_content %}

<ul id="tabs">
    <li id="org"><a href="/cmdb/orgManage">组织机构</a></li>
    <li id="idc"><a href="/cmdb/idcManage">机房管理</a></li>
    <li id="user"><a href="/cmdb/userManage">用户管理</a></li>
    <li id="contract"><a href="/cmdb/contractManage">合同管理</a></li>
    <li id="supplier"><a href="/cmdb/supplierManage">供应商管理</a></li>
    <li id="vendor"><a href="/cmdb/vendorManage">厂商管理</a></li>
    <li id="model"><a href="/cmdb/modelManage">型号管理</a></li>

</ul>

<div class="box box-group bg-gray-light " style="min-height: 800px;padding-left: 10px;padding-right: 10px">
    <div class="row" style="margin-top: 10px">

                    <div class="col-sm-8">
                        <div class="box box-warning">

                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                    供应商列表
                                </h3>
                            </div>

                            <!-- 供应商清单 -->
                            <form method="post" action="supplierManage" id="deleteForm">
                                {% csrf_token %}
                                <div class="box-body table-responsive ">
                                    <table class="table table-hover">
                                        <tr>
                                            <th class="text-center">选择</th>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">名称</th>
                                            <th class="text-center">联系人</th>
                                            <th class="text-center">电话</th>
                                            <th class="text-center">备注</th>
                                            <th class="text-center">编辑</th>

                                        </tr>
                                        {% for i in supplier %}
                                            <tr>
                                                <td class="text-center"><input type="checkbox" name="delete_supplier" value="{{ i.pk }}"></td>
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td class="text-center">{{ i.supplier_name }}</td>
                                                <td class="text-center">{{ i.supplier_contacts }}</td>
                                                <td class="text-center">{{ i.supplier_phone }}</td>
                                                <td class="text-center">{{ i.supplier_memo }}</td>
                                                <td class="text-center">
                                                    <a href="/cmdb/supplierManage?supplierId={{ i.id }}">
                                                        <i class="glyphicon glyphicon-edit text-info"
                                                           style="margin-right: 5px"></i>
                                                    </a>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>


                                <div class="box-footer " >
                                    <button type="button" onclick="var txt=  '确定删除所选供应商？';window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);" class="btn btn-danger pull-right">Delete</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->
                    </div>

                    <!-- ---添加用户-- -->
                    <div class="col-sm-4">
                        <div class="box box-primary">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-plus"></i>
                                <h3 class="box-title">添加供应商</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="addSupplierSubmitM" method="post" id="form">
                                {% csrf_token %}
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">供应商名称</label>
                                        <input required class="form-control" type="text" name="name" placeholder="supplier name">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">联系人</label>
                                        <input  required class="form-control" type="text" name="contact" placeholder="contact">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">联系电话</label>
                                        <input  required class="form-control" type="text" name="phone" placeholder="phone">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">备注</label>
                                        <input class="form-control" type="text" name="memo" placeholder="memo">
                                    </div>

                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>


                        <div class="box box-success" id="editSupplierBox" style="display: none">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-edit"></i>
                                <h3 class="box-title">编辑供应商</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="editSupplierSubmitM?supplierId={{ SUPPLIER.id }}" method="post">
                                {% csrf_token %}
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">供应商名称</label>
                                        <input  required class="form-control" type="text" name="name" value="{{ SUPPLIER.supplier_name}}">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">联系人</label>
                                        <input  required class="form-control" type="text" name="contact" value="{{ SUPPLIER.supplier_contacts }}">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">联系电话</label>
                                        <input  required class="form-control" type="text" name="phone" value="{{ SUPPLIER.supplier_phone}}">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">备注</label>
                                        <input class="form-control" type="text" name="memo" value="{{ SUPPLIER.supplier_memo}}">
                                    </div>
                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>


                    </div>


    </div>
</div>
{% endblock main_content %}



{% block foot_js %}
<!-- ----tab效果---- -->
<script>
    $(document).ready(function () {
        $("#supplier").attr("id", "current"); // Activate first tab
    });
</script>
    <script>
        $(function () {
            var x = {{ SUPPLIER.id }};
            if (x){
                $("#editSupplierBox").css('display', '');
            }
        })

    </script>
{% endblock foot_js %}