{% extends "base.html" %}


{% block css_block %}
<link href="/static/dist/css/tab_css.css" type="text/css" rel="stylesheet">
<!--<link href="/static/css/form2.css" type="text/css" rel="stylesheet">-->
<!--<style>-->
<!--#selectedTab a {-->
<!--background: white;-->
<!--}-->

<!--#selectedTab a::after {-->
<!--background: white;-->
<!--}-->
<!--</style>-->
{% endblock css_block %}


{% block main_content %}

<ul id="tabs">
    <li id="org"><a href="http://127.0.0.1:8000/cmdb/orgManage">组织机构</a></li>
    <li id="idc"><a href="http://127.0.0.1:8000/cmdb/idcManage">机房管理</a></li>
    <li id="user"><a href="http://127.0.0.1:8000/cmdb/userManage">用户管理</a></li>
    <li id="contract"><a href="http://127.0.0.1:8000/cmdb/contractManage">合同管理</a></li>
    <li id="supplier"><a href="http://127.0.0.1:8000/cmdb/supplierManage">供应商管理</a></li>
    <li id="vendor"><a href="http://127.0.0.1:8000/cmdb/vendorManage">厂商管理</a></li>
</ul>

<div class="box box-group bg-gray-light " style="min-height: 800px;padding-left: 10px;padding-right: 10px">
    <div class="row" style="margin-top: 10px">

        <div class="col-sm-8">
            <div class="box box-warning" >

                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="glyphicon  glyphicon-user"></i>
                        用户列表
                    </h3>
                </div>
                <!-- 供应商清单 -->
                <form method="post" action="userManage">
                    <div class="box-body table-responsive ">
                        <table class="table table-hover">
                            <tr>
                                <th>选择</th>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>管理员</th>
                            </tr>
                            {% for i in admin %}
                            <tr>
                                <td><input type="checkbox" name="delete_admin" value="{{ i.pk }}"></td>
                                <td>{{ i.pk }}</td>
                                <td>{{ i.username }}</td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.email}}</td>
                                <td>{{ i.is_superuser }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <div class="box-footer " >
                        <button type="submit" class="btn btn-danger pull-right">Delete</button>
                    </div>
                </form>

            </div>
            <!-- /.box -->
        </div>

        <!-- ---添加合同-- -->
        <div class="col-sm-4">
         <div class="box box-primary">
            <div class="box-header with-border">
              <i class="glyphicon glyphicon-plus"></i>
              <h3 class="box-title">添加用户</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="contact" action="addUserSubmit" method="post" method="post" id="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="username">用户名</label>
                  <input type="text" class="form-control required" id="username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="phone">电话</label>
                  <input type="tel" class="form-control required" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                  <label for="email">邮箱</label>
                  <input type="email" class="form-control required" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="password">账号密码</label>
                  <input type="password" class="form-control required" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <label>用户权限</label>
                    <select style="width: 66%;margin-left: 2em" name="perm" >
                        <option value="0">普通用户</option>
                        <option value="1">管理员</option>
                    </select>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
              </div>
            </form>
          </div>
        </div>

    </div>
</div>
{% endblock main_content %}



{% block foot_js %}
<!-- ----tab效果---- -->
<script>
    $(document).ready(function () {
        $("#user").attr("id", "current"); // Activate first tab
    });
</script>
{% endblock foot_js %}