{% extends "base.html" %}


{% block css_block %}
<link href="/static/dist/css/tab_css.css" type="text/css" rel="stylesheet">
{% endblock css_block %}


{% block main_content %}

<ul id="tabs">
    <li id="org"><a href="/cmdb/orgManage">组织机构</a></li>
    <li id="idc"><a href="/cmdb/idcManage">机房管理</a></li>
    <li id="user"><a href="/cmdb/userManage">用户管理</a></li>
    <li id="contract"><a href="/cmdb/contractManage">合同管理</a></li>
    <li id="supplier"><a href="/cmdb/supplierManage">供应商管理</a></li>
    <li id="vendor"><a href="/cmdb/vendorManage">厂商管理</a></li>
    <li id="model"><a href="/cmdb/modelManage">型号管理</a></li>

</ul>

<div class="box box-group bg-gray-light " style="min-height: 800px;padding-left: 10px;padding-right: 10px">
    <div class="row" style="margin-top: 10px">
<div class="col-sm-8">
                        <div class="box box-warning">

                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <i class="glyphicon  glyphicon-user"></i>
                                    用户列表
                                </h3>
                            </div>

                            <!-- 用户清单 -->
                            <form method="post" action="/cmdb/userManage" id="deleteForm">
                                {% csrf_token %}
                                <div class="box-body table-responsive ">
                                    <table class="table table-hover">
                                        <tr>
                                            <th class="text-center">选择</th>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">所属分组</th>
                                            <th class="text-center">用户名</th>
                                            <th class="text-center">邮箱</th>
                                            <th class="text-center">管理员</th>
                                            <th class="text-center">编辑</th>
                                        </tr>

                                        {% for i in admin %}
                                        <tr>
                                            <td class="text-center"><input type="checkbox" name="delete_admin" value="{{ i.pk }}"></td>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            {% if i.groups.all %}
                                                <td class="text-center">
                                                    {% for iGroup in i.groups.all %}
                                                        {{ iGroup}}
                                                    {% endfor %}
                                                </td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td class="text-center">{{ i.username }}</td>
                                            <td class="text-center">{{ i.email}}</td>
                                            <td class="text-center">{{ i.is_superuser }}</td>
                                            <td class="text-center">
                                                <a href="/cmdb/userManage?userId={{ i.id }}">
                                                    <i class="glyphicon glyphicon-edit text-info"
                                                       style="margin-right: 5px"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                </div>


                                <div class="box-footer " >
                                    <button type="button" onclick="var txt=  '确定删除所选用户？';window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning);" class="btn btn-danger pull-right">删除用户</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.box -->
                    </div>

                    <!-- ---添加用户-- -->
                    <div class="col-sm-4">
                        <div class="box box-primary">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-plus"></i>
                                <h3 class="box-title">添加用户</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="addUserSubmit" method="post" id="addForm">
                                {% csrf_token %}
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">用户名</label>
                                        <input class="form-control" type="text" id="addUsername" name="username" placeholder="username">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">邮箱地址</label>
                                        <input class="form-control" type="text" name="email" placeholder="email">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">账户密码</label>
                                        <input class="form-control" type="password" name="password" placeholder="password">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">所属分组</label>
                                        <select required class="form-control" name="group" >
                                            <option value="0">请选择所属分组</option>
                                            {% for group in groups%}
                                                <option value={{ group.id }}>{{ group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if Perm %}
                                        <div class="form-group">
                                            <label class=" control-label">用户权限</label>
                                            <select class="form-control" name="perm" >
                                                <option value="0">普通用户</option>
                                                <option value="1">管理员</option>
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="button" onclick="addUserVerify()" class="btn  btn-primary pull-right" >添加用户</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>

                        <div class="box box-success" id="editUserBox" style="display: none">
                            <!-- box-header -->
                            <div class="box-header with-border">
                                <i class="glyphicon glyphicon-edit"></i>
                                <h3 class="box-title">编辑用户</h3>
                            </div>
                            <!-- /.box-header -->

                            <!-- form start -->
                            <form class="contactl" action="editAdminSubmit?userId={{ ADMIN.id }}" method="post" id="editForm">
                                {% csrf_token %}
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class=" control-label">用户名</label>
                                        <input class="form-control" type="text" id="editUsername" name="username" value="{{ ADMIN.username }}">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">邮箱地址</label>
                                        <input class="form-control" type="text" name="email" value="{{ ADMIN.email }}">
                                    </div>

                                    <div class="form-group">
                                        <label class=" control-label">账户密码</label>
                                        <input class="form-control" type="password" name="password" value="{{ ADMIN.password }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">所属分组</label>
                                        <select class="form-control" name="group" >
                                            <option value="0">请选择所属分组</option>
                                            {% for group in groups%}
                                                <option value={{ group.id }}>{{ group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if Perm %}
                                        <div class="form-group">
                                            <label class=" control-label">用户权限</label>
                                            <select class="form-control" name="perm" >
                                                {% if ADMIN.is_superuser%}
                                                    <option value="1">管理员</option>
                                                    <option value="0">普通用户</option>
                                                {% else %}
                                                    <option value="0">普通用户</option>
                                                    <option value="1">管理员</option>

                                                {% endif %}
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- box-footer -->
                                <div class="box-footer">
                                    <button type="button" onclick="editUserVerify({{ ADMIN.id }})" class="btn  btn-success pull-right" >保存编辑</button>
                                </div>
                                <!-- /.box-footer -->
                            </form>
                            <!-- /.form start -->
                        </div>

                    </div>
    </div>
</div>
{% endblock main_content %}



{% block foot_js %}
<!-- ----tab效果---- -->
<script>
    $(document).ready(function () {
        $("#user").attr("id", "current"); // Activate first tab
    });
</script>

    <script>
        $(function () {
            var x = {{ ADMIN.id }};
            if (x){
                $("#editUserBox").css('display', '');
            }
        })

    </script>
    <script>
    function addUserVerify(){
        var addUsername =$("#addUsername").val();
        if (addUsername != ""){
            $.ajax({
                url:"/cmdb/userVerify",
                data:{"username":addUsername,"userId":'0'},
                type:"post",
                success:function(data){
                    if(data['username']){
                        alert("提交失败，此用户名已存在！")
                    }
                    else {
                        document.getElementById('addForm').submit();
                    }
                }

            });
        }else{
            alert("提交失败，用户名为空！")
        }
    }
    function editUserVerify(userId){
        var editUsername =$("#editUsername").val();
        if (editUsername != ""){
            $.ajax({
                url:"/cmdb/userVerify",
                data:{"username":editUsername,"userId":userId},
                type:"post",
                success:function(data){
                    if(data['username']){
                        alert("提交失败，此用户名已存在！")
                    }
                    else {
                        document.getElementById('editForm').submit();
                    }
                }

            });
        }else{
            alert("提交失败，用户名为空！")
        }
    }
    </script>
{% endblock foot_js %}