{% extends "base.html" %}

{% block css_block %}
<style type="text/css">
    select.select2 {
        width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .form-group > input {
        width: 90%;
    }

    label.btn.fa-check-square-o {
        font-size: 20px;
        color: #DC143C;
        padding: 0px;
        margin: 0px;
    }
    a > i.fa-cog {
        font-size: 20px;
        color: #1d953f;
        margin: 0px;
        padding: 0px;
    }

</style>
{% endblock %}


{% block main_content %}
    <div class="container-fluid box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">资产信息</h3>
            <small>添加资产基本信息</small>
        </div>

        <!-- /.box-header -->
        <form class="contact" action="addSubmit" method="post" id="form">
            <div class="box-body">

                <div class="row">
                    <!-- ----------第一行，资产信息---------- -->
                    <!-- 一行一列 -->
                    <div class="col-md-6">
                        <!-- 资产名称 -->
                        <div class="form-group">
                            <label for="asset_name">资产名称</label>
                            <input required class="form-control inline" type="text" name="asset_name" id="asset_name"
                                   placeholder="请输入资产名称" asset_name">
                            <label class="btn fa fa-check-square-o "></label>
                        </div>
                        <!-- /.资产名称 -->

                        <!-- 所属单位 -->
                        <div class="form-group">
                            <label for="o">所属单位</label>
                            <select class="form-control select2" id="o" name="organization">
                                <option value="0">请选择所属单位</option>
                                {% for Organization in Organizations %}
                                <option value={{ Organization.id }}>{{ Organization.org_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- /.所属单位 -->

                        <!-- 来源合同 -->
                        <div class="form-group">
                            <label for="contrac">来源合同</label>
                            <a class="btn no-padding no-margin"
                               onclick="$('#contract').load('http://127.0.0.1:8000/cmdb/addARecord'+ ' #contract')">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <select class="form-control select2 inline" id="contrac" name="contract">
                                <option value="0">请选择来源合同</option>
                                {% for Contract in Contracts %}
                                <option value={{ Contract.id}}>{{ Contract.contract_name }}</option>
                                {% endfor %}
                            </select>
                            <a class="btn no-padding no-margin" target="_blank" href="/cmdb/editContract">
                                <i class="fa  fa-cog"></i>
                            </a>
                        </div>
                        <!-- /.来源合同 -->

                        <!-- 购买日期 -->
                        <div class="form-group">
                            <label for="purchase_day">购买日期</label>
                            <input required class="form-control" type="date" name="purchase_day" id="purchase_day"
                                   placeholder="请选择购买日期">
                            </select>
                        </div>
                        <!-- /.购买日期 -->

                        <!-- 审批人 -->
                        <div class="form-group">
                            <label for="approved_by">审批人</label>
                            <select class="form-control select2" id="approved_by" name="approved_by">
                                <option value="0">审批人</option>
                                {% for User in Users %}
                                <option value={{ User.id}}>{{ User.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- /.审批人 -->

                    </div>
                    <!-- /一行一列 -->
                    <!-- 一行二列 -->
                    <div class="col-md-6">
                        <!-- 资产编号 -->
                        <div class="form-group">
                            <label for="asset_no">资产编号</label>
                            <input required class="form-control inline" type="text" name="asset_no" id="asset_no"
                                   placeholder="请输入资产名称" asset_name">
                            <label class="btn fa fa-check-square-o "></label>
                        </div>
                        <!-- /.资产编号 -->

                        <!-- 设备状态 -->
                        <div class="form-group">
                            <label for="status">设备状态</label>
                            <select class="form-control select2 " id="status" name="status">
                                <option value="0">请选择设备状态</option>
                                <option value="1">使用中</option>
                                <option value="2">未使用</option>
                                <option value="3">故障</option>
                                <option value="4">其它</option>
                            </select>
                        </div>
                        <!-- /.设备状态 -->

                        <!-- 供应商 -->
                        <div class="form-group">
                            <label for="supplier">供应商</label>
                            <a class="btn no-padding no-margin"
                               onclick="$('#supplier').load('/cmdb/addARecord'+ ' #supplier')">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <select class="form-control select2 inline" id="supplier" name="supplier">
                                <option value="0">请选择供应商</option>
                                {% for Supplier in Suppliers %}
                                <option value={{ Supplier.id}}>{{ Supplier.supplier_name }}</option>
                                {% endfor %}
                            </select>
                            <a class="btn no-padding no-margin" target="_blank" href="/cmdb/editSupplier">
                                <i class="fa  fa-cog"></i>
                            </a>
                        </div>
                        <!-- /.供应商 -->
                        <!-- 过保日期 -->
                        <div class="form-group">
                            <label for="expire_day">过保日期</label>
                            <input required class="form-control" type="date" name="expire_day" id="expire_day"
                                   placeholder="请选择过保日期">
                            </select>
                        </div>
                        <!-- /.过保日期 -->

                        <!-- /管理员 -->
                        <div class="form-group">
                            <label for="admin">管理员</label>
                            <select class="form-control select2" id="admin" name="admin">
                                <option value="0">请选择管理员</option>
                                {% for User in Users %}
                                <option value={{ User.id}}>{{ User.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- /.管理员 -->

                    </div>
                    <!-- /一行二列 -->
                </div>
                <!------------/第一行，资产信息----------- -->

                <div class="row">
                    <div style="width: 100%;height: 1px; background:#DCDCDC; margin: 10px 0px;"></div>
                </div>

                <!-- ----------第二行，设备信息----------- -->
                <div class="row">
                    <!-- 二行一列 -->
                    <div class="col-md-6">
                        <!-- 设备类型 -->
                        <div class="form-group">
                            <label for="asset_type">设备类型</label>
                            <select class="form-control inline select2" required id="asset_type" name="asset_type">
                                <option value="0">请选择设备类型</option>
                                <option value="1">服务器</option>
                                <option value="2">网络设备</option>
                                <option value="3">安全设备</option>
                                <option value="4">存储设备</option>
                                <option value="5">其他</option>
                            </select>
                            <label class="btn fa fa-check-square-o"></label>
                        </div>
                        <!-- /.设备类型 -->

                        <!-- /.设备串号 -->
                        <div class="form-group">
                            <label for="sn">设备串号</label>
                            <input required class="form-control inline" type="text" name="sn" placeholder="请输入设备序列号"
                                   id="sn">
                            <label class="btn fa fa-check-square-o "></label>
                        </div>
                        <!-- /.设备串号 -->

                        <!-- 所属网络 -->
                        <div class="form-group">
                            <label for="network_location">所属网络</label>
                            <select class="form-control select2 inline" id="network_location" name="network_location">
                                <option value="0">请选择所属网络</option>
                                <option value="1">控制专网</option>
                                <option value="2">业务内网</option>
                                <option value="3">业务外网</option>
                            </select>
                            <label class="btn fa fa-check-square-o"></label>
                        </div>
                        <!-- /.所属网络 -->

                        <!-- /.管理IP -->
                        <div class="form-group">
                            <label for="manage_ip">管理IP</label>
                            <input class="form-control" type="text" id="manage_ip" name="manage_ip"
                                   placeholder="请输入管理IP">
                        </div>
                        <!-- /.管理IP -->
                    </div>
                    <!-- /二行一列 -->

                    <!-- 二行二列 -->
                    <div class="col-md-6">
                        <!-- /设备型号 -->
                        <div class="form-group">
                            <label for="model">设备型号</label>
                            <a class="btn no-padding no-margin"
                               onclick="$('#model').load('/cmdb/addARecord'+ ' #model')">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <select required class="form-control select2 inline" id="model" name="model">
                                <option value="0">请选择设备型号</option>
                                {% for Model in Models%}
                                <option value={{ Model.id }}>{{ Model.models }}</option>
                                {% endfor %}
                            </select>
                            <label class="btn fa fa-check-square-o "></label>
                            <a class="btn no-padding no-margin" target="_blank" href="/cmdb/editModel">
                                <i class="fa  fa-cog"></i>
                            </a>
                        </div>
                        <!-- /.设备型号 -->
                        <!-- 所在机房 -->
                        <div class="form-group" id="IDC">
                            <label for="i">所在机房</label>
                            <select class="form-control select2" id="i" name="idc"
                                    onchange="var args = $('#i').serialize();var x1 = '{%url 'cmdb:showCabs'%}?' + args;$('#cab').load(x1 + ' #cab')">
                                <option value="0">请选择机房</option>
                                {% for Idc in Idcs %}
                                <option value={{ Idc.id}}>{{ Idc.idc_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- /.所在机房 -->

                        <!-- 所在机柜 -->
                        <div class="form-group" id="cab"
                             onchange="var args = $('#c').serialize();var x1 = '{%url 'cmdb:showCabSpaces'%}?' + args;$('#cabSpace').load(x1 + ' #cabSpace');">
                            <label for="c">所在机柜</label>
                            <select class="form-control select2" id="c" name="cab">
                                <option value="0">请选择机柜</option>
                                {% for Cab in Cabs %}
                                <option value={{ Cab.id}}>{{ Cab.cabinet_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- /.所在机柜 -->

                        <!-- 机柜位置 -->
                        <div class="form-group" id="cabSpace">
                            <label for="cabS">机柜位置</label>
                            <select class="form-control select2" id="cabS" name="cabSpace" multiple="multiple">
                                <option value="0">请选择机柜位置</option>
                                {% for CabSpace in CabSpaces %}
                                <option value={{ CabSpace.id}}>{{CabSpace.get_cabinet_location_display}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- /.所在机柜 -->
                    </div>
                    <!-- /二行二列 -->


                </div>
                <!-- ----------/第二行，设备信息----------- -->


                <div class="row">
                    <div style="width: 100%;height: 1px; background:#DCDCDC; margin: 10px 0px;"></div>
                </div>


                 <!-- ----------第三行，备注----------- -->
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="memo">备注</label>
                            <textarea class="form-control" id="memo" name="memo" rows="8" style="width: 90%"
                                      placeholder="Enter..."></textarea>
                            </select>
                        </div>
                        <!-- /.备注 -->

                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <!-- ----------/第三行，备注----------- -->

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <input class="submit btn  btn-primary pull-right" type="submit" name="submit" id="submit" value="下一步">
                <button class="btn  btn-success" onclick="window.location.href='/cmdb/asset'">取消</button>
            </div>

        </form>
    </div>



{% endblock main_content %}

{% block foot_js %}
<script type="text/javascript" src="/static/dist/layer/layer.js"></script>
<script>
    $(function () {
        $("#o").change(function () {
            var args = $("#o").serialize();
            var x1 = "{%url 'cmdb:showIdcs'%}?" + args;
            $("#IDC").load(x1 + " #IDC")
        });
    });

</script>
{% endblock foot_js %}