{% extends "base.html" %}

{% block css_block %}
<link href="/static/dist/css/bootstrap-multiselect.css" rel="stylesheet">
<script type="text/javascript" src="/static/dist/js/xcConfirm.js"></script>
<style type="text/css">
    select.select2 {
        width: 85%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .form-group > input {
        width: 85%;
    }

    label.btn.fa-check-square-o {
        font-size: 14px;
        color: darkred;
        padding: 0px;
        margin: 0px;
    }

    a > i.fa-cog {
        font-size: 16px;
        color: grey;
        margin: 0px;
        padding: 0px;
    }

    .split_row {
        width: 100%;
        height: 30px;
        border-bottom: #DCDCDC solid 1px;
        margin-bottom: 25px;
    }

</style>
{% endblock %}


{% block main_content %}
<div class="container-fluid box box-default">
    <div class="box-header with-border">
        <span class="fa fa-cube"></span>
        <h3 class="box-title">资产信息</h3>
        <small>添加资产基本信息</small>
    </div>

    <!-- /.box-header -->
    <form class="contact" action="addSubmit" method="post" id="form">
        <div class="box-body">

            <div class="row" style="margin-top: 25px">
                <!-- ----------第一行，资产信息---------- -->
                <!-- 一行一列 -->
                <div class="col-md-6">
                    <!-- 资产名称 -->
                    <div class="form-group">
                        <label for="asset_name">资产名称</label><br>
                        <input required class="form-control inline" type="text" name="asset_name" id="asset_name"
                               placeholder="请输入资产名称">
                        <label class="btn fa fa-check-square-o "></label>
                    </div>
                    <!-- /.资产名称 -->

                    <!-- 所属单位 -->
                    <div class="form-group">
                        <label for="organization">所属单位</label><br>
                        <select required class="form-control select2 inline" id="organization" name="organization">
                            <option value="0">请选择所属单位</option>
                            {% for Organization in Organizations %}
                            <option value={{ Organization.id }}>{{ Organization.org_name }}</option>
                            {% endfor %}
                        </select>
                        <label class="btn fa fa-check-square-o "></label>

                    </div>
                    <!-- /.所属单位 -->

                    <!-- 来源合同 -->
                    <div class="form-group">
                        <label for="contract">来源合同</label><br>
                        <select class="form-control select2 inline" id="contract" name="contract">
                            <option value="0">请选择来源合同</option>
                            {% for Contract in Contracts %}
                            <option value={{ Contract.id}}>{{ Contract.contract_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.来源合同 -->

                    <!-- 购买日期 -->
                    <div class="form-group">
                        <label for="purchase_day">购买日期</label><br>
                        <input required class="form-control inline" type="date" name="purchase_day" id="purchase_day"
                               placeholder="请选择购买日期">
                        <label class="btn fa fa-check-square-o"></label>

                    </div>
                    <!-- /.购买日期 -->

                    <!-- 审批人 -->
                    <div class="form-group">
                        <label for="approved_by">审批人</label><br>
                        <select class="form-control select2" id="approved_by" name="approved_by">
                            <option value="0">审批人</option>
                            {% for User in Users %}
                            <option value={{ User.id}}>{{ User.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.审批人 -->

                </div>
                <!-- /一行一列 -->
                <!-- 一行二列 -->
                <div class="col-md-6">
                    <!-- 资产编号 -->
                    <div class="form-group">
                        <label for="asset_no">资产编号</label><br>
                        <input required class="form-control inline" type="text" name="asset_no" id="asset_no"
                               placeholder="请输入资产编号">
                        <label class="btn fa fa-check-square-o "></label>
                    </div>
                    <!-- /.资产编号 -->

                    <!-- 设备状态 -->
                    <div class="form-group">
                        <label for="status">设备状态</label><br>
                        <select required class="form-control select2 inline " id="status" name="status">
                            <option value="0">请选择设备状态</option>
                            <option value="1">使用中</option>
                            <option value="2">未使用</option>
                            <option value="3">故障</option>
                            <option value="4">其它</option>
                        </select>
                        <label class="btn fa fa-check-square-o "></label>
                    </div>
                    <!-- /.设备状态 -->

                    <!-- 供应商 -->
                    <div class="form-group"  id="supplier">
                        <label for="supplier">供应商</label>
                        <a class="btn no-padding no-margin"
                           onclick="$('#supplier').load('/cmdb/addARecord'+ ' #supplier')">
                            <i class="fa fa-refresh"></i>
                        </a><br>
                        <select class="form-control select2 inline" name="supplier">
                            <option value="0">请选择供应商</option>
                            {% for Supplier in Suppliers %}
                            <option value={{ Supplier.id}}>{{ Supplier.supplier_name }}</option>
                            {% endfor %}
                        </select>
                        <a class="btn no-padding no-margin" target="_blank" href="/cmdb/editSupplier">
                            <i class="fa  fa-cog"></i>
                        </a>
                    </div>
                    <!-- /.供应商 -->

                    <!-- 过保日期 -->
                    <div class="form-group">
                        <label for="expire_day">过保日期</label><br>
                        <input required class="form-control inline" type="date" name="expire_day" id="expire_day"
                               placeholder="请选择过保日期">
                        <label class="btn fa fa-check-square-o "></label>

                    </div>
                    <!-- /.过保日期 -->

                    <!-- /管理员 -->
                    <div class="form-group">
                        <label for="admin">管理员</label><br>
                        <select class="form-control select2" id="admin" name="admin">
                            <option value="0">请选择管理员</option>
                            {% for User in Users %}
                            <option value={{ User.id}}>{{ User.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.管理员 -->

                </div>
                <!-- /一行二列 -->
            </div>
            <!------------/第一行，资产信息----------- -->


            <!-- 分割行 -->
            <div class="row">
                <div class="split_row"></div>
            </div>
            <!-- /分割行 -->


            <!-- ----------第二行，设备信息----------- -->
            <div class="row">

                <!-- 第二行，第一列 -->
                <div class="col-md-3">
                    <!-- 设备品牌 -->
                    <div class="form-group">
                        <label for="vendor">设备品牌</label><br>
                        <select required class="form-control inline select2" id="vendor" name="vendor">
                            <option value="0">请选择设备品牌</option>
                            {% for vendor in Vendors%}
                            <option value="{{vendor.id}}">{{ vendor.vendor_name}}</option>
                            {% endfor%}
                        </select>
                        <label class="btn fa fa-check-square-o "></label>

                        <a class="btn no-padding no-margin" target="_blank" href="/cmdb/editVendor">
                            <i class="fa  fa-cog"></i>
                        </a>
                    </div>
                    <!-- /.设备类型 -->

                    <!-- /.设备串号 -->
                    <div class="form-group">
                        <label for="sn">设备串号</label><br>
                        <input required class="form-control inline" type="text" id="sn" name="sn"
                               placeholder="请输入设备序列号">
                        <label class="btn fa fa-check-square-o "></label>
                    </div>
                    <!-- /.设备串号 -->
                </div>
                <!-- /第二行，第一列 -->


                <!--  第二行，第二列 -->
                <div class="col-md-3">
                    <!-- 设备类型 -->
                    <div class="form-group">
                        <label for="asset_type">设备类型</label><br>
                        <select class="form-control inline select2" required id="asset_type" name="asset_type">
                            <option value="0">请选择设备类型</option>
                            <option value="1">服务器</option>
                            <option value="2">网络设备</option>
                            <option value="3">安全设备</option>
                            <option value="4">存储设备</option>
                            <option value="5">其他</option>
                        </select>
                        <label class="btn fa fa-check-square-o"></label>
                    </div>
                    <!-- /.设备类型 -->

                    <!-- 所属网络 -->
                    <div class="form-group">
                        <label for="network_location">所属网络</label><br>
                        <select required class="form-control select2 inline" id="network_location" name="network_location">
                            <option value="0">请选择所属网络</option>
                            <option value="1">控制专网</option>
                            <option value="2">业务内网</option>
                            <option value="3">业务外网</option>
                        </select>
                        <label class="btn fa fa-check-square-o"></label>
                    </div>
                    <!-- /.所属网络 -->
                </div>
                <!-- /第二行，第二列 -->


                <!-- 第二行，第三列 -->
                <div class="col-md-3">
                    <!-- 设备类型 -->
                    <div class="form-group">
                        <label for="asset_subtype">设备子类型</label><br>
                        <select class="form-control inline select2" required id="asset_subtype" name="asset_subtype">
                            <option value="0">请选择设备子类型</option>

                        </select>
                        <label class="btn fa fa-check-square-o"></label>
                    </div>
                    <!-- /设备类型 -->

                    <!-- /.管理IP -->
                    <div class="form-group">
                        <label for="manage_ip">管理IP</label><br>
                        <input class="form-control" type="text" id="manage_ip" name="manage_ip"
                               placeholder="请输入管理IP">
                    </div>
                    <!-- /.管理IP -->
                </div>
                <!-- /第二行，第三列 -->


                <!-- 第二行，第四列 -->
                <div class="col-md-3">
                    <!-- /设备型号 -->
                    <div class="form-group" id="M">
                        <label for="model">设备型号</label>
                        <a class="btn no-padding no-margin"
                           onclick="$('#M').load('/cmdb/addARecord'+ ' #M')">
                            <i class="fa fa-refresh"></i>
                        </a><br>
                        <select required class="form-control select2 inline" id="model" name="model">
                            <option value="0">请选择设备型号</option>
                            {% for Model in Models%}
                            <option value={{ Model.id }}>{{ Model.models }}</option>
                            {% endfor %}
                        </select>
                        <label class="btn fa fa-check-square-o "></label>

                        <a class="btn no-padding no-margin" target="_blank" href="/cmdb/editModel">
                            <i class="fa  fa-cog"></i>
                        </a>
                        <div style="font-size: 12px; color: grey">*请先选择设备品牌</div>
                    </div>
                    <!-- /.设备型号 -->
                </div>
                <!-- /第二行，第四列 -->

            </div>
            <!-- ----------/第二行，设备信息----------- -->


            <!-- 分割行 -->
            <div class="row">
                <div class="split_row"></div>
            </div>
            <!-- /分割行 -->


            <!-- ----------第三行，机房机柜信息----------- -->
            <div class="row">
                <!-- 第三行，第一列 -->
                <div class="col-md-3">
                    <!-- 所在机房 -->
                    <div class="form-group">
                        <label for="idc">所在机房</label><br>
                        <select class="form-control select2" id="idc" name="idc">
                            <option value="0">请选择机房</option>
                            {% for Idc in Idcs %}
                            <option value={{ Idc.id}}>{{ Idc.idc_name }}</option>
                            {% endfor %}
                        </select>
                        <span style="font-size: 12px; color: grey">*请先选择设备所属单位</span>
                    </div>
                    <!-- /.所在机房 -->
                </div>
                <!-- 第三行，第一列 -->

                <!-- 第三行，第二列 -->
                <div class="col-md-3">
                    <!-- 所在机柜 -->
                    <div class="form-group">
                        <label for="cabinet">所在机柜</label><br>
                        <select class="form-control select2" id="cabinet" name="cabinet">
                            <option value="0">请选择机柜</option>
                        </select>
                    </div>
                    <!-- /.所在机柜 -->
                </div>
                <!-- 第三行，第二列 -->

                <!-- 第三行，第三列 -->
                <div class="col-md-3">
                    <!-- 机柜位置 -->
                    <div class="form-group">
                        <label for="cabSpace">机柜位置</label><br>
                        <select class="form-control select2" multiple="multiple" id="cabSpace" name="cabSpace">
                            <option value="0">请选择机柜位置</option>
                        </select>
                    </div>
                    <!-- /.所在机柜 -->
                </div>
                <!-- /第三行，第三列 -->


                <!-- 第三行，第四列 -->
                <div class="col-md-3">

                </div>
                <!-- /第三行，第四列 -->

            </div>
            <!-- ----------/第三行，机房机柜信息----------- -->


            <!-- 分割行 -->
            <div class="row">
                <div class="split_row"></div>
            </div>
            <!-- /分割行 -->


            <!-- ----------第四行，备注----------- -->
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="memo">备注</label><br>
                        <textarea class="form-control" id="memo" name="memo" rows="8" style="width: 90%"
                                  placeholder="Enter..."></textarea>
                        </select>
                    </div>
                    <!-- /.备注 -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->
            <!-- ----------/第四行，备注----------- -->

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <input class="submit btn  btn-primary pull-right" type="submit"  id="submit" value="下一步">
            <button type="button" class="btn  btn-success" onclick="window.location.href='/cmdb/asset'">取消</button>
        </div>

    </form>
</div>


{% endblock main_content %}

{% block foot_js %}
<script type="text/javascript" src="/static/dist/layer/layer.js"></script>
<script>
    //根据设备类型显示设备子类型
    $(function () {
        $("#asset_type").change(function () {
            $.get("/cmdb/asset_subtype" + $(this).val() + "/", function (asset_subtype) {
                var subtype = $('#asset_subtype');
                subtype.empty().append('<option value="0">请选择设备子类型</option>');
                $.each(asset_subtype.data, function (index, item) {
                    subtype.append('<option value="' + item.id + '">' + item.type + '</option>');
                });
            });
        });
    });

    //根据厂商显示设备型号
    $(function () {
        $("#vendor").change(function () {
            $.get("/cmdb/device_model" + $(this).val() + "/", function (models) {
                var model = $('#model');
                model.empty().append('<option value="0">请选择设备型号</option>');
                $.each(models.data, function (index, item) {
                    model.append('<option value="' + item.id + '">' + item.model + '</option>');
                });
            });
        });
    });


    //根据所属单位显示IDC
    $(function () {
        $("#organization").change(function () {
            $.get("/cmdb/showidcs" + $(this).val() + "/", function (idcinfo) {
                var idc = $("#idc");
                idc.empty().append('<option value="0">请选择机房</option>');
                $.each(idcinfo.data, function (index, item) {
                    idc.append('<option value="' + item.id + '">' + item.idc + '</option>')
                });
            });
        });
    });


    //根据所选IDC显示机柜
    $(function () {
        $("#idc").change(function () {
            $.get("/cmdb/showcabs" + $(this).val() + "/", function (cabinetinfo) {
                var cabinet = $("#cabinet");
                cabinet.empty().append('<option value="0">请选择机柜</option>');
                $.each(cabinetinfo.data, function (index, item) {
                    cabinet.append('<option value="' + item.id + '">' + item.cab + '</option>')
                });
            });
        });
    });

    //根据所选机柜显示机柜空间
    $(function () {
        $("#cabinet").change(function () {
            $.get("/cmdb/showcabspace" + $(this).val() + "/", function (spaceinfo) {
                var cabSpace = $("#cabSpace");
                cabSpace.empty().append('<option value="0">请选择机柜位置</option>');
                $.each(spaceinfo.data, function (index, item) {
                    cabSpace.append('<option ' + item.useinfo +' value="' + item.id + '">' + item.space + '</option>')
                });
            });
        });
    });

</script>
{% endblock foot_js %}

