{% extends "base.html" %}

{% block css_block %}
<link href="/static/css/form2.css" type="text/css" rel="stylesheet">
{% endblock css_block %}

{% block main_content %}

<section id="getintouch" >
        <div class="container2" style="border-bottom: 0;">
            <h1>
                <span>完善设备信息</span>
            </h1>
        </div>
        <div class="container">

            <div class="row  clearfix" style="margin-left: 1em">
                <div class="lbl">
                    <label>
                        添加部件</label>
                </div>
                <div id="whichPart" class="span10 offset2" style="width: 95%;">
                    <a onclick="document.getElementById('addRAM').style.display='block';">内存RAM</a>
                    <a onclick="document.getElementById('addCPU').style.display='block';">中央处理器CPU</a>
                    <a onclick="document.getElementById('addDisk').style.display='block';">硬盘DISK</a>
                    <a onclick="document.getElementById('addPort').style.display='block';">接口PORT</a>
                    <a onclick="document.getElementById('addPart').style.display='block';">部件PART</a>
                </div>
            </div>

            <div class="row  clearfix" id="addRAM" style="display: none;">
                <form action="RAMSubmit" method="post" style="padding: 30px;margin:0 auto;">
                    <div class="row clearfix">
                        <div class="ctrl" style="width: 40%;margin:0 auto;">
                            <label>内存型号</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="model" placeholder="请输入内存型号">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>内存品牌</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="brand" placeholder="请输入内存品牌">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>内存容量</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="volume" placeholder="请输入内存容量">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>内存插槽</label>
                            <input style="width: 66%;margin-left: 2em" type="number" name="slot" placeholder="请输入内存插槽">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>内存状态</label>
                            <select style="width: 66%;margin-left: 2em" name="status" >
                                <option value="0">请选择内存状态</option>
                                <option value="1">正常</option>
                                <option value="2">故障</option>
                                <option value="3">下线</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <input type="hidden" name="assetId" value="{{ ID }}"><br>
                            <div style="float: left;width: 85%">
                                <input style="margin-left:0;float: left" type="button" value="取消" onclick="document.getElementById('addRAM').style.display='none';">
                                <input style="margin-right:0;float: right" type="submit" value="提交" onclick="document.getElementById('addRAM').style.display='none';">
                            </div>
{#                            <input style="margin-left:0px;float: left" type="button" value="取消" onclick="document.getElementById('addRAM').style.display='none';">#}
{#                            <input style="margin-right:50px;float: right" type="submit" value="提交" onclick="document.getElementById('addRAM').style.display='none';">#}
                        </div>
                    </div>
                </form>
            </div>

            <div class="row  clearfix" id="addCPU" style="display: none;">
                <form action="CPUSubmit" method="post" style="padding: 30px;margin:0 auto;">
                    <div class="row clearfix">
                        <div class="ctrl" style="width: 40%;margin:0 auto;">
                            <label>CPU型号</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="model" placeholder="请输入CPU型号">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>CPU生产商</label>
                            <input style="width: 66%;margin-left: 1em" type="text" name="brand" placeholder="请输入CPU生产商">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>CPU容量</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="speed" placeholder="请输入CPU容量">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>CPU核数</label>
                            <input style="width: 66%;margin-left: 2em" type="number" name="core_count" placeholder="请输入CPU核数">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>CPU插槽</label>
                            <input style="width: 66%;margin-left: 2em" type="number" name="slot" placeholder="请输入CPU插槽">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>CPU状态</label>
                            <select style="width: 66%;margin-left: 2em" name="status" >
                                <option value="0">请选择CPU状态</option>
                                <option value="1">正常</option>
                                <option value="2">故障</option>
                                <option value="3">下线</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <input type="hidden" name="assetId" value="{{ ID }}"><br>
{#                            <input style="margin-right:50px;float: right" type="submit" onclick="document.getElementById('addCPU').style.display='none';">#}
                             <div style="float: left;width: 85%">
                                <input style="margin-left:0;float: left" type="button" value="取消" onclick="document.getElementById('addCPU').style.display='none';">
                                <input style="margin-right:0;float: right" type="submit" value="提交" onclick="document.getElementById('addCPU').style.display='none';">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row  clearfix" id="addDisk" style="display: none;">
                <form action="DiskSubmit" method="post" style="padding: 30px;margin:0 auto;">
                    <div class="row clearfix">
                        <div class="ctrl" style="width: 40%;margin:0 auto;">
                            <label>硬盘名称</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="name" placeholder="请输入硬盘名称">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘容量</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="volume" placeholder="请输入硬盘容量">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘型号</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="model" placeholder="请输入硬盘型号">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘生产商</label>
                            <input style="width: 66%;margin-left: 1em" type="text" name="brand" placeholder="请输入硬盘生产商">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘序列号</label>
                            <input style="width: 66%;margin-left: 1em" type="text" name="serial" placeholder="请输入硬盘序列号">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘插槽</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="slot" placeholder="请输入硬盘插槽">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘状态</label>
                            <select style="width: 66%;margin-left: 2em" name="status" >
                                <option value="0">请选择硬盘状态</option>
                                <option value="1">正常</option>
                                <option value="2">故障</option>
                                <option value="3">下线</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘属性</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="attr" placeholder="请输入硬盘属性">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <input type="hidden" name="assetId" value="{{ ID }}"><br>
{#                            <input style="margin-right:50px;float: right" type="submit" onclick="document.getElementById('addDisk').style.display='none';">#}
                             <div style="float: left;width: 85%">
                                <input style="margin-left:0;float: left" type="button" value="取消" onclick="document.getElementById('addDisk').style.display='none';">
                                <input style="margin-right:0;float: right" type="submit" value="提交" onclick="document.getElementById('addDisk').style.display='none';">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row  clearfix" id="addPort" style="display: none;">
                <form action="PortSubmit" method="post" style="padding: 30px;margin:0 auto;">

                    <div class="row clearfix">
                        <div class="ctrl" style="width: 40%;margin:0 auto;">
                            <label>接口类型</label>
                            <select style="width: 66%;margin-left: 2em" name="type" >
                                <option value="0">请选择借口类型</option>
                                <option value="1">Ethernet</option>
                                <option value="2">GigabitEthernet</option>
                                <option value="3">TenGigabitEthernet</option>
                                <option value="4">Pos</option>
                                <option value="5">Serial</option>
                                <option value="6">vlan</option>
                                <option value="7">Tunnel</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>接口名称</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="name" placeholder="请输入接口名称">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>网卡槽位</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="slot" placeholder="请输入网卡槽位">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>借口vlan</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="vlan" placeholder="请输入接口vlan">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>接口地址</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="ip" placeholder="请输入接口地址">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>接口副地址</label>
                            <input style="width: 66%;margin-left: 1em" type="text" name="sub_ip" placeholder="请输入接口副地址">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>子网掩码</label>
                            <input style="width: 66%;margin-left: 2em" type="number" name="mask" placeholder="请输入子网掩码">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>接口带宽</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="bandwidth" placeholder="请输入接口带宽">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>接口状态</label>
                            <select style="width: 66%;margin-left: 2em" name="status" >
                                <option value="0">请选择接口状态</option>
                                <option value="1">UP</option>
                                <option value="2">DOWN</option>
                                <option value="3">AdminDown</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <input type="hidden" name="assetId" value="{{ ID }}"><br>
{#                            <input style="margin-right:50px;float: right" type="submit" onclick="document.getElementById('addDisk').style.display='none';">#}
                             <div style="float: left;width: 85%">
                                <input style="margin-left:0;float: left" type="button" value="取消" onclick="document.getElementById('addPort').style.display='none';">
                                <input style="margin-right:0;float: right" type="submit" value="提交" onclick="document.getElementById('addPort').style.display='none';">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row  clearfix" id="addPart" style="display: none;">
                <form action="PartSubmit" method="post" style="padding: 30px;margin:0 auto;">

                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>部件类型</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="type" placeholder="请输入部件类型">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>部件名称</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="name" placeholder="请输入部件名称">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>部件型号</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="model" placeholder="请输入部件型号">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>部件序列号</label>
                            <input style="width: 66%;margin-left: 1em" type="text" name="sn" placeholder="请输入部件序列号">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>硬盘插槽</label>
                            <input style="width: 66%;margin-left: 2em" type="text" name="slot" placeholder="请输入硬盘插槽">
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <label>部件状态</label>
                            <select style="width: 66%;margin-left: 2em" name="status" >
                                <option value="0">请选择接口状态</option>
                                <option value="1">正常</option>
                                <option value="2">故障</option>
                                <option value="3">下线</option>
                            </select>
                        </div>
                    </div>
                    <div class="row clearfix">
                    <div class="ctrl"  style="width: 40%;margin:0 auto;">
                        <label style="position: relative;top: -100px;">部件描述</label>
                        <textarea style="width: 66%;margin-left: 2em;" id="partDesc" name="partDesc" rows="6" cols="6"></textarea>
                    </div>
                </div>
                    <div class="row clearfix">
                        <div class="ctrl"  style="width: 40%;margin:0 auto;">
                            <input type="hidden" name="assetId" value="{{ ID }}"><br>
{#                            <input style="margin-right:50px;float: right" type="submit" onclick="document.getElementById('addDisk').style.display='none';">#}
                            <div style="float: left;width: 85%">
                                <input style="margin-left:0;float: left" type="button" value="取消" onclick="document.getElementById('addPart').style.display='none';">
                                <input style="margin-right:0;float: right" type="submit" value="提交" onclick="document.getElementById('addPart').style.display='none';">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% for r in rams %}
                <div class="mybox mybox-orange">
                    <div class="mybox-header">
                        <label for="RAM">内存 RAM</label>
                        <a class="fa fa-remove" href="http://127.0.0.1:8000/cmdb/RAMDelete?ramId={{ r.id }}&assetId={{ ID }}"></a>
                    </div>
                    <div class=" mybox-body">
                        <div style="float: left;width: 45%;">
                            <label>RAM 型号 :</label>
                            <span style="margin-left: 1em">{{ r.ram_model}}</span><br>
                            <label>RAM 容量 :</label>
                            <span style="margin-left: 1em">{{ r.ram_volume}}</span><br>
                        </div>
                        <div style="float: right;width: 45%">
                            <label>RAM 厂商 :</label>
                            <span style="margin-left: 1em">{{ r.ram_brand}}</span><br>
                            <label>RAM 插槽 :</label>
                            <span style="margin-left: 1em">{{ r.ram_slot}}</span><br>
                        </div>
                        <div style="float: right;width: 100%">
                            <label>创建时间 :</label>
                            <span style="margin-left: 1em">{{ r.create_date}}</span><br>
                            <label>更新时间 :</label>
                            <span style="margin-left: 1em">{{ r.update_date}}</span><br>
                        </div>
                        <div class="mystatus">
                            {{ r.get_ram_status_display }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for c in cpus %}
                <div class="mybox mybox-info">
                    <div class="mybox-header">
                        <label for="CPU">中央处理单元 CPU</label>
                        <a class="fa fa-remove" href="http://127.0.0.1:8000/cmdb/CPUDelete?cpuId={{ c.id }}&assetId={{ ID }}"></a>
                    </div>
                    <div class="mybox-body">
                        <div style="float: left;width: 45%;">
                            <label>CPU 型号 :</label>
                            <span style="margin-left: 1em">{{ c.cpu_model}}</span><br>
                            <label>CPU 容量 :</label>
                            <span style="margin-left: 1em">{{ c.cpu_speed}}</span><br>
                            <label>CPU 核数 :</label>
                            <span style="margin-left: 1em">{{ c.cpu_core_count}}</span><br>
                        </div>
                        <div style="float: right;width: 45%">
                            <label>CPU 厂商 :</label>
                            <span style="margin-left: 1em">{{ c.cpu_brand}}</span><br>
                            <label>RAM插槽 :</label>
                            <span style="margin-left: 1em">{{ c.cpu_slot}}</span><br>
                        </div>
                        <div style="float: right;width: 100%">
                            <label>创建时间 :</label>
                            <span style="margin-left: 1em">{{ c.create_date}}</span><br>
                            <label>更新时间 :</label>
                            <span style="margin-left: 1em">{{ c.update_date}}</span><br>
                        </div>
                        <div class="mystatus" style="color: #0b93d5">
                            {{ c.get_cpu_status_display }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for d in disks %}
                <div class="mybox mybox-teal">
                    <div class="mybox-header">
                        <label for="DISK">硬盘 DISK</label>
                        <a class="fa fa-remove" href="http://127.0.0.1:8000/cmdb/DiskDelete?diskId={{ d.id }}&assetId={{ ID }}"></a>
                    </div>
                    <div class="mybox-body">
                        <div style="float: left;width: 45%;">
                            <label>硬盘名称:</label>
                            <span style="margin-left: 1em">{{ d.disk_name}}</span><br>
                            <label>硬盘型号:</label>
                            <span style="margin-left: 1em">{{ d.disk_model}}</span><br>
                            <label>序列号:</label>
                            <span style="margin-left: 2em">{{ d.disk_serial}}</span><br>
                            <label>硬盘属性:</label>
                            <span style="margin-left: 1em">{{ d.disk_attr}}</span><br>
                        </div>
                        <div style="float: right;width: 45%">
                            <label>硬盘容量:</label>
                            <span style="margin-left: 1em">{{d.disk_volume}}</span><br>
                            <label>硬盘厂商:</label>
                            <span style="margin-left: 1em">{{ d.disk_brand}}</span><br>
                            <label>硬盘插槽:</label>
                            <span style="margin-left: 1em">{{ d.disk_slot}}</span><br>
                        </div>
                        <div class="mystatus" style="color:#39cccc">
                            {{ d.get_disk_status_display }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for po in ports %}
                <div class="mybox mybox-maroon">
                    <div class="mybox-header">
                        <label for="PORT">接口 PORT</label>
                        <a class="fa fa-remove" href="http://127.0.0.1:8000/cmdb/PortDelete?portId={{ po.id }}&assetId={{ ID }}"></a>
                    </div>
                    <div class="mybox-body">
                        <div style="float: left;width: 45%;">
                            <label>接口名称:</label>
                            <span style="margin-left: 1em">{{ po.port_name}}</span><br>
                            <label>网卡槽位:</label>
                            <span style="margin-left: 1em">{{ po.port_slot}}</span><br>
                            <label>接口地址:</label>
                            <span style="margin-left: 2em">{{ po.ip}}</span><br>
                            <label>子网掩码:</label>
                            <span style="margin-left: 1em">{{ po.mask}}</span><br>
                        </div>
                        <div style="float: right;width: 45%">
                            <label>接口类型:</label>
                            <span style="margin-left: 1em">{{po.get_port_type_display}}</span><br>
                            <label>接口vlan:</label>
                            <span style="margin-left: 1em">{{ po.vlan}}</span><br>
                            <label>副地址:</label>
                            <span style="margin-left: 1em">{{ po.sub_ip}}</span><br>
                            <label>接口带宽:</label>
                            <span style="margin-left: 1em">{{ po.bandwidth}}</span><br>
                        </div>
                        <div class="mystatus" style="color:#d81b60">
                            {{ po.get_status_display}}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for pa in parts %}
                <div class="mybox mybox-purple">
                    <div class="mybox-header">
                        <label for="PART">部件 PART</label>
                        <a class="fa fa-remove" href="http://127.0.0.1:8000/cmdb/PartDelete?partId={{ pa.id }}&assetId={{ ID }}"></a>
                    </div>
                    <div class="mybox-body">
                        <div style="float: left;width: 45%;">
                            <label>部件名称:</label>
                            <span style="margin-left: 1em">{{ pa.parts_name}}</span><br>
                            <label>部件型号:</label>
                            <span style="margin-left: 1em">{{ pa.parts_model}}</span><br>
                            <label>硬盘插槽:</label>
                            <span style="margin-left: 2em">{{ pa.parts_slot}}</span><br>
                        </div>
                        <div style="float: right;width: 45%">
                            <label>部件类型:</label>
                            <span style="margin-left: 1em">{{pa.parts_type}}</span><br>
                            <label>序列号:</label>
                            <span style="margin-left: 1em">{{ pa.parts_sn}}</span><br>
                        </div>
                        <div style="float:left;width: 100%">
                            <label>部件描述:</label>
                            <span style="margin-left: 1em">{{ pa.memo}}</span><br>
                        </div>
                        <div class="mystatus" style="color:#605ca8">
                            {{ pa.get_parts_status_display}}
                        </div>
                    </div>
                </div>

            {% endfor %}


            <div class="row  clearfix" style="clear: left">
                <div class="span10 offset2" style="width: 95%">
                    <button type="button" style="width: 100px;height: 35px; color: #FFFFFF;margin-top:20px;float: right;" class="btn btn-block btn-primary" onclick="window.location.href='http://127.0.0.1:8000/cmdb/asset'">完成</button>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}



